@{
    Layout = "";
}
<html class="webkit safari win js">
<head>
    <link href="~/Content/CheckOut.css" rel="stylesheet" />
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/code/8cbc2c83e5117452f883bfaaa21040c1.js?conditionId0=478815"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/code/f3a29f5fa158a5eadb32c7c04d663c9e.js?conditionId0=360095"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/code/c690115b2e8864cac6f2b41501b3c176.js?conditionId0=380898&amp;conditionId1=375435"></script>
    <script type="text/javascript" async="" src="https://nexus.ensighten.com/bhfoto/prod/code/eba38b4487dbd690018de6093d9f032d.js?conditionId0=421854"></script>
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.oKHdHV2xpm0.O/m=signin_annotation/exm=client,plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCNd8FlX7D-ugulSNNOrsQOkuRZJKA/cb=gapi.loaded_1" async=""></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/serverComponent.php?r=0.9330588287778712&amp;ClientID=1084&amp;PageID=https%3A%2F%2Fwww.bhphotovideo.com%2Ffind%2FloginIframe.jsp%3Freferer%3Dhttps%253A%252F%252Fwww.bhphotovideo.com%252Ffind%252Fcart.jsp%26checkoutLogin%3DY%26via%3Diframe"></script>
    <meta charset="utf-8">

    <title>Check out with your B&amp;H account </title>

    <link href="https://static.bhphoto.com/FrameWork/mobile/css/icons.css?v=release20161222v10t125543125543" rel="stylesheet" type="text/css" media="all">

    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.oKHdHV2xpm0.O/m=client,plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCNd8FlX7D-ugulSNNOrsQOkuRZJKA/cb=gapi.loaded_0" async=""></script>
    <script async="" src="https://www.fullstory.com/s/fs.js"></script>
    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
    <script type="text/javascript" async="" src="https://plus.google.com/js/client:plusone.js?onload=render" gapi_processed="true"></script>



    <link rel="stylesheet" type="text/css" href="https://www.bhphotovideo.com/find/stylesheet.jsp?currPage=loginIframe&amp;lang=en&amp;site=reg&amp;fonts=OpenSans,600,normal&amp;min=Y&amp;vr=-990162559">



    <style type="text/css">
        #d__fFH {
            position: absolute;
            top: -5000px;
            left: -5000px;
        }

        #d__fF {
            font-family: serif;
            font-size: 200px;
            visibility: hidden;
        }

        #ryqfxbdubsqs {
            display: none !important;
        }
    </style>
    ]
    <style type="text/css">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001;
        }

        .fb_reposition {
            overflow: hidden;
            position: relative;
        }

        .fb_invisible {
            display: none;
        }

        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal;
        }

            .fb_reset > div {
                overflow: hidden;
            }

        .fb_link img {
            border: none;
        }

        keyframes fb_transform {
            from;

        {
            opacity: 0;
            transform: scale(.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }

        }

        .fb_animate {
            animation: fb_transform .3s forwards;
        }

        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001;
        }

        .fb_reset .fb_dialog_legacy {
            overflow: visible;
        }

        .fb_dialog_advanced {
            padding: 10px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .fb_dialog_content {
            background: #fff;
            color: #333;
        }

        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            _background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif);
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px;
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
            top: 5px;
            left: 5px;
            right: auto;
        }

        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1;
        }

        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
            _background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif);
        }

        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
            _background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif);
        }

        .fb_dialog_loader {
            background-color: #f6f7f9;
            border: 1px solid #606060;
            font-size: 24px;
            padding: 20px;
        }

        .fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
            height: 10px;
            width: 10px;
            overflow: hidden;
            position: absolute;
        }

        .fb_dialog_top_left {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
            left: -10px;
            top: -10px;
        }

        .fb_dialog_top_right {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
            right: -10px;
            top: -10px;
        }

        .fb_dialog_bottom_left {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
            bottom: -10px;
            left: -10px;
        }

        .fb_dialog_bottom_right {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
            right: -10px;
            bottom: -10px;
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            position: absolute;
            background: #525252;
            filter: alpha(opacity=70);
            opacity: .7;
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right {
            width: 10px;
            height: 100%;
        }

        .fb_dialog_vert_left {
            margin-left: -10px;
        }

        .fb_dialog_vert_right {
            right: 0;
            margin-right: -10px;
        }

        .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            width: 100%;
            height: 10px;
        }

        .fb_dialog_horiz_top {
            margin-top: -10px;
        }

        .fb_dialog_horiz_bottom {
            bottom: 0;
            margin-bottom: -10px;
        }

        .fb_dialog_iframe {
            line-height: 0;
        }

        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
        }

            .fb_dialog_content .dialog_title > span {
                background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
                float: left;
                padding: 5px 0 7px 26px;
            }

        body.fb_hidden {
            -webkit-transform: none;
            height: 100%;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            left: 0;
            width: 100%;
        }

        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001;
        }

            .fb_dialog.fb_dialog_mobile.loading.centered {
                width: auto;
                height: auto;
                min-height: initial;
                min-width: initial;
                background: none;
            }

                .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
                    width: 100%;
                }

                .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
                    background: none;
                }

        .loading.centered #fb_dialog_loader_close {
            color: #fff;
            display: block;
            padding-top: 20px;
            clear: both;
            font-size: 18px;
        }

        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .45);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            z-index: 10000;
        }

            #fb-root #fb_dialog_ipad_overlay.hidden {
                display: none;
            }

        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden;
        }

        .fb_dialog_content .dialog_header {
            -webkit-box-shadow: white 0 1px 1px -1px inset;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
            border-bottom: 1px solid;
            border-color: #1d4088;
            color: #fff;
            font: 14px Helvetica, sans-serif;
            font-weight: bold;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap;
        }

            .fb_dialog_content .dialog_header table {
                -webkit-font-smoothing: subpixel-antialiased;
                height: 43px;
                width: 100%;
            }

            .fb_dialog_content .dialog_header td.header_left {
                font-size: 12px;
                padding-left: 5px;
                vertical-align: middle;
                width: 60px;
            }

            .fb_dialog_content .dialog_header td.header_right {
                font-size: 12px;
                padding-right: 5px;
                vertical-align: middle;
                width: 60px;
            }

        .fb_dialog_content .touchable_button {
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
            border: 1px solid #29487d;
            -webkit-background-clip: padding-box;
            -webkit-border-radius: 3px;
            -webkit-box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
            display: inline-block;
            margin-top: 3px;
            max-width: 85px;
            line-height: 18px;
            padding: 4px 12px;
            position: relative;
        }

        .fb_dialog_content .dialog_header .touchable_button input {
            border: none;
            background: none;
            color: #fff;
            font: 12px Helvetica, sans-serif;
            font-weight: bold;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }

        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle;
        }

        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #555;
            border-bottom: 0;
            border-top: 0;
            height: 150px;
        }

        .fb_dialog_content .dialog_footer {
            background: #f6f7f9;
            border: 1px solid #555;
            border-top-color: #ccc;
            height: 40px;
        }

        #fb_dialog_loader_close {
            float: left;
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden;
        }

        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 24px;
            width: 24px;
        }

        keyframes rotateSpinner {
            0%;

        {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

        }

        .fb_iframe_widget {
            display: inline-block;
            position: relative;
        }

            .fb_iframe_widget span {
                display: inline-block;
                position: relative;
                text-align: justify;
            }

            .fb_iframe_widget iframe {
                position: absolute;
            }

        .fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%;
        }

            .fb_iframe_widget_fluid_desktop iframe {
                min-width: 220px;
                position: relative;
            }

        .fb_iframe_widget_lift {
            z-index: 1;
        }

        .fb_hide_iframes iframe {
            position: relative;
            left: -10000px;
        }

        .fb_iframe_widget_loader {
            position: relative;
            display: inline-block;
        }

        .fb_iframe_widget_fluid {
            display: inline;
        }

            .fb_iframe_widget_fluid span {
                width: 100%;
            }

        .fb_iframe_widget_loader iframe {
            min-height: 32px;
            z-index: 2;
            zoom: 1;
        }

        .fb_iframe_widget_loader .FB_Loader {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;
            height: 32px;
            width: 32px;
            margin-left: -16px;
            position: absolute;
            left: 50%;
            z-index: 4;
        }
    </style>
</head>
<body class="full-width twelve c2 loginForm " style="width:378px;">
    <div class="cont">

        <form action="#" method="post" class="login clearfix cent-width" novalidate="novalidate">
            <label>
                <input id="email-input" type="text"
                       name="emailAddress" value="" placeholder="Email"
                       maxlength="50" class="fs14">
            </label>
            <label>
                <input id="password-input" type="password" name="password"
                       data-selenium="password" placeholder="Password" maxlength="15" class="fs14" value="">
                <p class="forgotPass">
                    <span class="passBtn " tabindex="0">
                        <a href="#" class="c2 fs14 noUnderline"
                           rel="nofollow" manual_cm_sp="Login-_-Login-_-ForgotPassword">forgot?</a>
                        <a href="saqbbzetetdwbfutwqw.html"
                           style="display: none;" rel="file" id="ryqfxbdubsqs">qfwfvesdzxaazaedyvezx</a>
                    </span>
                </p>

            </label>

            <input type="hidden" name="checkoutLogin" value="Y">

            <input type="hidden" name="isLoginOnly" value="reloadLayer">
            <input type="hidden" name="referer" value="">
            <input type="hidden" name="rememberMe" value="Y" checked="">
            <input type="hidden" name="passEntryType" id="passEntryType" readonly="readonly" value="">
            <input type="hidden" name="emailEntryType" id="emailEntryType" readonly="readonly" value="">


            <button class="loginButton fs18"
                    data-selenium="checkoutNoLogin">
                Log In &amp; Check Out
            </button>
        </form>
        <div class="no-acc bold">
            <p>
                <a href="#" class="createAcct fs16 c5 noUnderline"
                   manual_cm_sp="Login-_-Login-_-CreateAccount">Create a B&amp;H Account</a>
            </p>
        </div>
        
        <div class="guestCheckout">

            <p class="guestCH fs16"><a href="/Home/CheckOut" target="_parent" class="noUnderline bold c5">Check out as a guest</a></p>

        </div>


        <div class="socialLogin clearfix">





            <style>
                .socialLogin a, .socialLogin #customBtn {
                    display: block;
                    width: 134px;
                    height: 50px;
                    background-color: #3b5998;
                    float: left;
                    margin-left: 22px;
                    border-radius: 4px;
                    background-image: url('/images/loginSprite.png');
                    background-position: -152px -34px;
                    line-height: 50px;
                    padding-left: 54px;
                    color: #ffffff;
                    font-size: 14px;
                    text-decoration: none;
                    cursor: pointer;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                }

                .socialLogin #customBtn {
                    background-color: #d6201f;
                    background-position: -152px -97px;
                    padding-left: 62px;
                    opacity: 0.9;
                }
                /*Merge Accounts*/
                .requestPassword {
                    background-color: #f7f7f7;
                    position: absolute;
                    box-sizing: border-box;
                    width: 368px;
                    left: 50%;
                    top: 10%;
                    margin-left: -184px;
                    border: 1px solid #b2b2b2;
                    box-shadow: 3px 3px 25px #b3b3b3;
                    display: none;
                    z-index: 100;
                }

                .socialLogin .requestPassword p {
                    padding: 40px 20px 20px 20px;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                }

                .createAccount .socialLogin .requestPassword p {
                    width: 100%;
                }

                .socialLogin .requestPassword form {
                    display: inline;
                }

                .socialLogin .requestPassword label {
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    position: relative;
                }

                    .socialLogin .requestPassword label.error {
                        color: #990000;
                        text-align: left;
                        padding-left: 55px;
                    }

                    .socialLogin .requestPassword label input {
                        width: 254px;
                        height: 40px;
                        padding-left: 10px;
                    }

                .socialLogin .requestPassword .forgotPass {
                    position: absolute;
                    top: 5px;
                    right: 60px;
                    background-color: #f5f5f5;
                    padding: 6px;
                    width: 62px;
                    height: 30px;
                    color: #595959;
                    line-height: 18px;
                    display: block;
                }

                .socialLogin .requestPassword input.mergeSubmit {
                    display: block;
                    width: 254px;
                    height: 50px;
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    background-color: #165485;
                    border: none;
                    border-radius: 4px;
                    font-size: 18px;
                    color: #ffffff;
                    cursor: pointer;
                }

                .socialLogin .requestPassword .popupLayerHeader {
                    height: 0px;
                    border: none;
                }

                    .socialLogin .requestPassword .popupLayerHeader span {
                        cursor: pointer;
                    }

                .socialLoginMsg.error {
                    width: 100%;
                    clear: both;
                    display: table;
                    font-size: 14px;
                    font-weight: bold;
                    color: #990000;
                    padding: 20px 20px 0px 64px;
                    background-image: url('/images/loginSprite.png');
                    background-position: -142px -242px;
                    background-repeat: no-repeat;
                    letter-spacing: -0.3px;
                }

                .requestPassword .socialLoginMsg.error {
                    padding: 30px 61px;
                    margin: -44px 0px -8px 30px;
                }

                .socialLoginMsg.error .createAccount .socialLoginMsg.error {
                    padding: 20px 0px 10px 42px;
                    background-position: -167px -254px;
                }

                .loader {
                    margin-top: -16px;
                    margin-left: -16px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: none;
                }
            </style>
            <!-- BEGIN Pre-requisites for google plus -->
            <script type="text/javascript">
    (function () {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://plus.google.com/js/client:plusone.js?onload=render';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
    window.onbeforeunload = function(e){
    	  gapi.auth.signOut();
    };
    function render() {
        gapi.signin.render('customBtn', {
          'callback': 'loginFinishedCallback',
          'clientid': '1086246549855-s2r4ljelaav8umpv64899d00kvdahg5h.apps.googleusercontent.com',
          'cookiepolicy': 'single_host_origin',
          'redirecturi': 'postmessage',
          'accesstype': 'offline',
          'scope': 'email'
        });
      }
    function loginFinishedCallback(authResult) {
        if (authResult) {
          if (authResult['error'] == undefined && authResult.status && authResult.status.method !== 'AUTO'){
        	  serviceURL = "https://www.bhphotovideo.com/bnh/controller/home?"+"O=googlePlus&A=socialLogin&Q=googlePlus";
        	  var info = {"access_token": authResult.access_token, "expiresIn":authResult.expires_in, "scope": authResult.scope, "issued_to": authResult.client_id, "token": "b587048de11df32b210b781c3d95d746" };
        	  logInUser(info, serviceURL);
        	  gapi.auth.signOut();
          } else {
            //console.log('An error occurred');
          }
        } else {
          //console.log('Empty authResult');  // Something went wrong
        }
      }
            </script>
            <!-- END Pre-requisites for google-->
            <!-- Begin Pre-requisites for facebook -->
            <script>
    var apiParams = {};
      function adjustIframe(){
    	  jQuery.postMessage(
			'{"action" : "resizeIframe","data" : {"frame" : "'+ window.name +'","width" : '+
				 $("body").outerWidth()
				+ ',"height" :' + $("body").outerHeight()
				+ ',"title" :"' + document.title + '"'
				+'}'
			+'}',
			decodeURIComponent("https://www.bhphotovideo.com/find/cart.jsp"),
			parent
		  );
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '626660050754608',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      function statusChangeCallback(response) {
           if (response.status === 'connected') {
                serviceURL = "https://www.bhphotovideo.com/bnh/controller/home?" + "O=facebook&A=socialLogin&Q=facebook";
                var info = {"access_token": response.authResponse.accessToken, "userId" : response.authResponse.userID, "expiresIn":response.authResponse.userID, "token": "b587048de11df32b210b781c3d95d746" };
                    logInUser(info, serviceURL);
           } else if (response.status === 'not_authorized') {

           } else {
           }
      }

      function checkLoginState() {
         FB.getLoginStatus(function(response) {
           statusChangeCallback(response);
         });
       }
      function loginUser() {
    	    FB.login(
    	        function(response) {
    	        	checkLoginState()
    	        },
    	    {scope:'public_profile, email'}
    	    );
    	}
      function logInUser(info, serviceURL){
    	  $('.loader').show();
    	  $.ajax({
    	        type: "POST",
    	        url: serviceURL,
    	        data: info,
    	        dataType: "json",
    	        success: function(data){
    	        	$('.loader').hide();
    	        	if(data['error']){
    	        		if(data.requestPassword != null){
    	        			$('.socialLogin .requestPassword p').html(data.error);
    	        			$('.socialLogin .requestPassword').show();
    	        			apiParams = data.apiParameters;
    	        		}else{
   	        				if(data.error == 'Incorrect password'){
   	        					$('.requestPassword').append($('.socialLoginMsg').addClass('error').html(data.error))
   	        				}else{
   	        					$('.socialLoginMsg').html(data.error).addClass('error');
   	        				}
    	        		}

    	        			adjustIframe();

    	        	}else{

    	        		jQuery.postMessage(
    							'{"action" : "goto","link" : "https://www.bhphotovideo.com/bnh/controller/home?O=cart&A=cart&Q=update"}',
    							decodeURIComponent("https://www.bhphotovideo.com/find/cart.jsp"),
    							parent
    					);


    	        	}
    	        }

    	    });
      }
      function hiderequestPassword(){
    	  $('.socialLogin .requestPassword').hide();
      }

      function mergeAccount(){
    	  var password = $('#mergeAccount').val();
    	  if(password != ''){
    	  $('.requestPassword label.error').remove();
    	  $('.mergeSubmit').loading();
    	  serviceURL = "https://www.bhphotovideo.com/bnh/controller/home?" + "O="+apiParams.socialLogIn + "&A=socialLogin&Q="+apiParams.socialLogIn;
          var info = {"access_token": apiParams.access_token, "password": password, "token": "b587048de11df32b210b781c3d95d746" };
          logInUser(info, serviceURL);
          $('.mergeSubmit').stopLoading();
    	  }else{
    		  $('.requestPassword label label.error').remove();
    		  $('.requestPassword label').append('<label class="error">Please enter a password</label>');
    	  }
    	  return false;
      }

            </script>

            <!-- END Pre-requisites for facebook-->
            <p>or log in to check out with...</p>
            <a href="#" class="facebookButton" onclick="loginUser(); return false;">Facebook</a>
            <div id="customBtn" class="customGPlusSignIn" data-gapiattached="true">
                Google
            </div>
            <div class="socialLoginMsg">
                <span></span>
            </div>
            <div class="requestPassword">
                <div class="popupLayerHeader">
                    <span class="close" onclick="hiderequestPassword()"></span>
                </div>
                <p></p>
                <label>
                    <input type="password" name="password" placeholder="Password" maxlength="15" class="fs14" id="mergeAccount">
                    <a href="https://www.bhphotovideo.com/find/forgotPassword.jsp?via=iframe&amp;referer=https%3A%2F%2Fwww.bhphotovideo.com%2Ffind%2Fcart.jsp&amp;checkoutLogin=Y" class="c2 fs14 noUnderline forgotPass">forgot?</a>
                </label>
                <input type="submit" value="Merge Accounts" class="mergeSubmit" onclick="mergeAccount(); return false;">
            </div>
            <img src="/images/loading.gif" class="loader">



        </div>

    </div>


    <script type="text/javascript" src="//nexus.ensighten.com/bhfoto/Bootstrap.js"></script>

    <div id="d__fFH" style="position: absolute; top: -5000px; left: -5000px;">object id="d_dlg" classid="clsid:3050f819-98b5-11cf-bb82-00aa00bdce0b" width="0px" height="0px"&gt;<span id="d__fF" style="font-family: Courier, serif; font-size: 72px; visibility: hidden;">The quick brown fox jumps over the lazy dog.</span></div><iframe name="oauth2relay231221769" id="oauth2relay231221769" src="https://accounts.google.com/o/oauth2/postmessageRelay?parent=https%3A%2F%2Fwww.bhphotovideo.com&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.oKHdHV2xpm0.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNd8FlX7D-ugulSNNOrsQOkuRZJKA#rpctoken=524744322&amp;forcesecure=1" tabindex="-1" aria-hidden="true" style="width: 1px; height: 1px; position: absolute; top: -100px;"></iframe><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/iPrOY23SGAp.js?version=42#channel=f14962bde8369c4&amp;origin=https%3A%2F%2Fwww.bhphotovideo.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
    <script type="text/javascript" src="https://www.bhphotovideo.com/__ssobj/core.js"></script>
</body>
</html>
