@{
    Layout = "/Views/Shared/Layouts.cshtml";
}
        <div class="t-main clearfix">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 430px;">
                    <div class="js-htmlbanner  has-html-banner" style="width: auto; position: relative;">
                        <a class="banner home-banner TvDeals" href="//www.bhphotovideo.com/c/buy/rebates-promotions/N/4019732813+38+35+204?&amp;S=1" data-banner-name="TV Banner 2016" alt="START SAVING NOW" title="START SAVING NOW" style="float: none; list-style: none; position: absolute; width: 1349px; z-index: 0; display: none;">
                            <div class="banner-inner">
                                <div class="banner-words"></div>
                            </div>
                        </a>

                        <div class="banner home-banner ShopByAppBanner" data-banner-name="Shop By App banner 2016" alt="Learn While You Shop" title="Learn While You Shop" style="float: none; list-style: none; position: absolute; width: 1349px; z-index: 0; display: none;">
                            <div class="banner-inner" style="text-align: center;">
                                <div class="banner-words">
                                    <img src="images/a1.png" usemap="#ShopByApp-map-2016" orgwidth="994" orgheight="430">
                                    <map name="ShopByApp-map-2016" id="ShopByApp-map-2016">

                                        <area alt="Landscape &amp; Scenic" title="Landscape &amp; Scenic" href="//www.bhphotovideo.com/c/landscape-scenic/ci/32846/N/3609797119/sba" shape="rect" coords="0,225,238,280" style="outline:none;" target="_self">

                                        <area alt="Birding &amp; Wildlife" title="Birding &amp; Wildlife" href="//www.bhphotovideo.com/c/birding-wildlife/ci/32828/N/3611103778/sba" shape="rect" coords="254,228,465,278" style="outline:none;" target="_self">

                                        <area alt="Macro" title="Macro" href="//www.bhphotovideo.com/c/macro/ci/32949/N/3607616143/sba" shape="rect" coords="483,229,588,278" style="outline:none;" target="_self">

                                        <area alt="Night" title="Night" href="//www.bhphotovideo.com/c/night/ci/33000/N/3607179222/sba" shape="rect" coords="605,227,708,278" style="outline:none;" target="_self">

                                        <area alt="Sports" title="Sports" href="//www.bhphotovideo.com/c/sports-photography/ci/33019/N/3607179208/sba" shape="rect" coords="729,228,832,279" style="outline:none;" target="_self">

                                        <area alt="Wedding" title="Wedding" href="//www.bhphotovideo.com/c/wedding-photography/ci/33029/N/3607179198/sba" shape="rect" coords="849,227,976,280" style="outline:none;" target="_self">


                                    </map>


                                </div>
                            </div>
                        </div>

                        <div class="banner home-banner ExpertBanner" data-banner-name="Expert home banner 2016" alt="Get expert answers to your questions" title="Get expert answers to your questions" style="float: none; list-style: none; position: absolute; width: 1349px; z-index: 50; display: block;">
                            <div class="banner-inner" style="text-align: center;">
                                <div class="banner-words">
                                    <img src="images/a1.png" usemap="#experts-map-103328" orgwidth="994" orgheight="430">
                                    <map name="experts-map-103328" id="experts-map-103328">
                                        <area alt="Photography Experts" title="Photography Experts" href="//www.bhphotovideo.com/find/shared/experts-profiles.jsp?ci=989" shape="rect" coords="3,288,165,334" style="outline:none;" target="_self">
                                        <area alt="Computer Experts" title="Computer Experts" href="//www.bhphotovideo.com/find/shared/experts-profiles.jsp?ci=9581" shape="rect" coords="183,286,327,336" style="outline:none;" target="_self">
                                        <area alt="Pro Video Experts" title="Pro Video Experts" href="//www.bhphotovideo.com/find/shared/experts-profiles.jsp?ci=3755" shape="rect" coords="344,287,480,336" style="outline:none;" target="_self">
                                        <area alt="Lighting experts" title="Lighting experts" href="//www.bhphotovideo.com/find/shared/experts-profiles.jsp?ci=1161" shape="rect" coords="498,286,612,337" style="outline:none;" target="_self">
                                        <area alt="Mobile Experts" title="Mobile Experts" href="//www.bhphotovideo.com/find/shared/experts-profiles.jsp?ci=8565" shape="rect" coords="630,287,732,337" style="outline:none;" target="_self">
                                        <area alt="TVs and Entertainment Experts" title="TVs and Entertainment Experts" href="//www.bhphotovideo.com/find/shared/experts-profiles.jsp?ci=4600" shape="rect" coords="747,287,990,335" style="outline:none;" target="_self">
                                    </map>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev arrows-home-page" href=""><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-thin-left"></use></svg></a><a class="bx-next arrows-home-page" href=""><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-thin-right"></use></svg></a></div></div>
            </div>
            <div class="banner-welcome  has-html-banner">
                <div class="banners-container js-homebanner"></div>
                <div class="welcome-msg">
                    <div class="new-page-width">
                        <p><span id="timeOfDay">Good afternoon</span>, <span id="firstName">Ayesha.</span></p>
                        <h2>Welcome to B&amp;H!</h2>

                        <script type="text/javascript">
						var homeMLT = {
								Morning: "Good morning",
								Afternoon: "Good afternoon",
								Evening: "Good evening"
						};
							(function(){
								hour = (new Date()).getHours();
								nightStart = 18;
								nightEnd = 4;
								greeting = hour > nightEnd && hour < 12 ? homeMLT.Morning : hour > 11 && hour < nightStart ?  homeMLT.Afternoon : homeMLT.Evening;00000000
								document.getElementById("timeOfDay").textContent = greeting;
								if (window.userFirstName)
								{
									document.getElementById("firstName").textContent = decodeURIComponent(window.userFirstName.replace(/%20/g, " "))+".";
								} else {
									document.querySelector('.welcome-msg p').innerText = document.querySelector('.welcome-msg p').innerText.replace(/,/g, '.');

								}
							}());

                        </script>


                    </div>
                </div>
            </div>
            <div id="centerRegionContainer" class="centerRegionContainer ">
                <section id="homePageCategiriesMain" class="categoriesWrapper" data-selenium="categoriesWrapper">
                    <div class="clearfix">
                        <div class="category photography" data-selenium="photography">
                            <a href="#" class="overlay-on-hover" name="Center-Photography-Photography" data-selenium="photographyLink" >
                                <div class="categoryImagePlaceholder"></div><span>Photography</span>
                            </a>
                        </div>
                        <div class="category Computers" data-selenium="computers">
                            <a class="overlay-on-hover" name="Center-Computers-Computers" data-selenium="computersLink" href="/Home/Computer">
                                <div class="categoryImagePlaceholder"></div><span>Computers</span>
                            </a>
                        </div>
                        <div class="category homeEntertainment" data-selenium="homeEntertainment">
                            <a class="overlay-on-hover" name="Center-Home Entertainment-Home Entertainment" data-selenium="homeEntertainmentLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Home Entertainment</span>
                            </a>
                        </div>
                        <div class="category proVideo" data-selenium="proVideo">
                            <a class="overlay-on-hover" name="Center-Pro Video-Pro Video" data-selenium="proVideoLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Professional Video</span>
                            </a>
                        </div>
                        <div class="category Mobile" data-selenium="Mobile">
                            <a class="overlay-on-hover" name="Center-Mobile-Mobile" data-selenium="MobileLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Mobile</span>
                            </a>
                        </div>
                        <div class="category proAudio" data-selenium="proAudio">
                            <a class="overlay-on-hover" name="Center-Pro Audio-Pro Audio" data-selenium="proAudioLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Pro Audio</span>
                            </a>
                        </div>
                        <div class="category photoAccessories" data-selenium="photoAccessories">
                            <a class="overlay-on-hover" name="Center-Photo Accessories-Photo Accessories" data-selenium="photoAccessoriesLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Photo Accessories</span>
                            </a>
                        </div>
                        <div class="category consumerVideo" data-selenium="consumerVideo">
                            <a class="overlay-on-hover" name="Center-Consumer Video-Consumer Video" data-selenium="consumerVideolLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Camcorders</span>
                            </a>
                        </div>
                        <div class="category lightingStudio" data-selenium="lightingStudio">
                            <a class="overlay-on-hover" name="Center-Lighting &amp; Studio-Lighting &amp; Studio" data-selenium="lightingStudioLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Lighting</span>
                            </a>
                        </div>
                        <div class="category avPresentation" data-selenium="avPresentation">
                            <a class="overlay-on-hover" name="Center-A/V Presentation-A/V Presentation" data-selenium="avPresentationLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Audio-Visual</span>
                            </a>
                        </div>
                        <div class="category Surveillance" data-selenium="Surveillance">
                            <a class="overlay-on-hover" name="Center-Surveillance-Surveillance" data-selenium="surveillanceLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Surveillance</span>
                            </a>
                        </div>
                        <div class="category Optics" data-selenium="Optics">
                            <a class="overlay-on-hover" name="Center-Optics-Optics" data-selenium="OpticsLink" href="#">
                                <div class="categoryImagePlaceholder"></div><span>Optics &amp; Outdoor</span>
                            </a>
                        </div>
                    </div>
                </section><section id="moduleDealZone7298c89a-dc0f-4a12-aa18-ac2b120a8ba2" class="newRegion moduleDealZoneRegion"><div class="bhView "><section> <div class="dealZoneSavings"> <div id="homePageDealZone1"><div class="bhView "><div class="hpdz-section"> <a href="#" class="hpdz-logo-link"> <img src="https://static.bhphoto.com/images/dealZone/deal-zone-page-logo.png" alt="Deal Zone - Unbeatable Specials"> </a> <div id="dz-active-deals-region"><div class="bhView "><div id="prominent-hourly-deal-region"></div> <div id="deals-list-region"><div class="dz-dealItemsList clearfix"><div data-skus="[&quot;1208608_REG&quot;]" class="dz-glow dz-hover-glow dz-dealItemGridItem dz-dealItemGridItem--4"><div class="dz-dealItem" title="DJI Phantom 3 4K "> <div class="dz-dealItemImgWrapper"> <div class="dz-dealItemImgPlaceholder"> <img class="dz-dealItemImg" src="https://static.bhphoto.com/images/images345x345/1452530145000_1208608.jpg"> </div>  </div> <p class="dz-dealItemTitle"><strong>Save $300</strong> DJI Phantom 3 4K </p> <div class="review-stars-small dz-dealItemReviews">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="dz-reviews-count dz-color-light-1">57</span>  </div> <div class="dz-savingsRow"> <span class="js-dz-price-region dz-deal-color dz-price-1">$499<span class="dz-smallCents">00</span></span>  <div class="dz-dealItemRemaining"> <span class="dz-clock-label">Deal ends in</span> <span class="dz-deal-color dz-clock js-dz-clock">18:27:06</span> <div class="dz-countdown-bar dz-deal-color"> <div class="dz-countdown-bar-fill js-dz-countdownBarFill" style="width: 76.8881%;"></div> </div> </div>  </div> <button class="dz-dealItemBtn cursor-pointer">See Details</button> </div></div><div data-skus="[&quot;1009178_REG&quot;]" class="dz-glow dz-hover-glow dz-dealItemGridItem dz-dealItemGridItem--4"><div class="dz-dealItem" title="JPEGmini JPEGmini Pro Photo Optimization Software"> <div class="dz-dealItemImgWrapper"> <div class="dz-dealItemImgPlaceholder"> <img class="dz-dealItemImg" src="https://static.bhphoto.com/images/images345x345/1383191220000_1009178.jpg"> </div>  </div> <p class="dz-dealItemTitle"><strong>Save $90</strong> JPEGmini JPEGmini Pro Photo Optimization Software</p> <div class="review-stars-small dz-dealItemReviews">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 100%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="dz-reviews-count dz-color-light-1">133</span>  </div> <div class="dz-savingsRow"> <span class="js-dz-price-region dz-deal-color dz-price-1">$59<span class="dz-smallCents">95</span></span>  <div class="dz-dealItemRemaining"> <span class="dz-clock-label">Deal ends in</span> <span class="dz-deal-color dz-clock js-dz-clock">18:27:06</span> <div class="dz-countdown-bar dz-deal-color"> <div class="dz-countdown-bar-fill js-dz-countdownBarFill" style="width: 76.8881%;"></div> </div> </div>  </div> <button class="dz-dealItemBtn cursor-pointer">See Details</button> </div></div><div data-skus="[&quot;1282311_REG&quot;]" class="dz-glow dz-hover-glow dz-dealItemGridItem dz-dealItemGridItem--4"><div class="dz-dealItem" title="Zoom U-22 - USB Mobile Recording and Performance Interface"> <div class="dz-dealItemImgWrapper"> <div class="dz-dealItemImgPlaceholder"> <img class="dz-dealItemImg" src="https://static.bhphoto.com/images/images345x345/1474465803000_1282311.jpg"> </div>  </div> <p class="dz-dealItemTitle"><strong>Save $30</strong> Zoom U-22 - USB Mobile Recording and Performance Interface</p> <div class="review-stars-small dz-dealItemReviews">  </div> <div class="dz-savingsRow"> <span class="js-dz-price-region dz-deal-color dz-price-1">$69<span class="dz-smallCents">99</span></span>  <div class="dz-dealItemRemaining"> <span class="dz-clock-label">Deal ends in</span> <span class="dz-deal-color dz-clock js-dz-clock">18:27:06</span> <div class="dz-countdown-bar dz-deal-color"> <div class="dz-countdown-bar-fill js-dz-countdownBarFill" style="width: 76.8881%;"></div> </div> </div>  </div> <button class="dz-dealItemBtn cursor-pointer">See Details</button> </div></div><div data-skus="[&quot;908055_REG&quot;]" class="dz-glow dz-hover-glow dz-dealItemGridItem dz-dealItemGridItem--4 dz-dealItemGridItem--lastInRow"><div class="dz-dealItem" title="IDX System Technology CW-1 Wireless HDMI Video Transmission System"> <div class="dz-dealItemImgWrapper"> <div class="dz-dealItemImgPlaceholder"> <img class="dz-dealItemImg" src="images/d1.jpg"> </div>  </div> <p class="dz-dealItemTitle"><strong>Save $250</strong> IDX System Technology CW-1 Wireless HDMI Video Transmission System</p> <div class="review-stars-small dz-dealItemReviews">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="dz-reviews-count dz-color-light-1">23</span>  </div> <div class="dz-savingsRow"> <span class="js-dz-price-region dz-deal-color dz-price-1">$549<span class="dz-smallCents">00</span></span>  <div class="dz-dealItemRemaining"> <span class="dz-clock-label">Deal ends in</span> <span class="dz-deal-color dz-clock js-dz-clock">18:27:06</span> <div class="dz-countdown-bar dz-deal-color"> <div class="dz-countdown-bar-fill js-dz-countdownBarFill" style="width: 76.8881%;"></div> </div> </div>  </div> <button class="dz-dealItemBtn cursor-pointer">See Details</button> </div></div></div></div></div></div> </div></div></div> <header class="section-header"> <h1>More Deals</h1> </header> <div id="homePageSavings" class="homePageSavings-id"><div class="bhView "><div class="savingsCollection"><div class="productView hoverLayerContainer"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="https://www.bhphotovideo.com/c/product/1264125-REG/asus_ux310ua_wb71_rg_13_3_zenbook_ux310ua_notebook.html"> <div class="clearfix"> <img class="itemImage" src="images/b1.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $150 on&nbsp;</b> ASUS 13.3" ZenBook UX310UA Notebook (Rose Gold) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 70%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">30</span>  </span> <div class="itemPrice">   $699.00   </div> </div> </div> </a> </div><div class="productHoverLayer"><div class="productHoverLayer-inner"> <div class="item"> <a href="#" class="detailsLink clearfix" data-track-link="USE_ITEM"> <div class="itemImage"> <img src="https://static.bhphoto.com/images/images150x150/1469632825000_1264125.jpg"> </div> <div class="itemInfo"> <div class="product-title"> <h2> ASUS 13.3" ZenBook UX310UA Notebook (Rose Gold) </h2> </div> <span class="rating review-stars-small clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 70%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">30</span>  </span>  <div class="itemPrice">  <span class="beforeRebate">$849.00</span>   $699.00  </div>  </div> </a> <div class="atc-atw">  <button class="overlay-on-hover button atc bluesvg" data-attach="addToCart"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add To Cart</span> </button>  </div> </div> </div></div></div><div class="productView hoverLayerContainer"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="https://www.bhphotovideo.com/c/product/1261344-REG/sony_ilce6000y_b_alpha_a6000_mirrorless_digital.html"> <div class="clearfix"> <img class="itemImage" src="images/b2.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $350 on&nbsp;</b> Sony Alpha a6000 Mirrorless Digital Camera with 16-50mm and 55-210mm Lenses (Black) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">8</span>  </span> <div class="itemPrice">   $698.00   </div> </div> </div> </a> </div><div class="productHoverLayer"><div class="productHoverLayer-inner"> <div class="item"> <a href="#" class="detailsLink clearfix" data-track-link="USE_ITEM"> <div class="itemImage"> <img src="https://static.bhphoto.com/images/images150x150/1466791583000_1261344.jpg"> </div> <div class="itemInfo"> <div class="product-title"> <h2> Sony Alpha a6000 Mirrorless Digital Camera with 16-50mm and 55-210mm Lenses (Black) </h2> </div> <span class="rating review-stars-small clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">8</span>  </span>  <div class="itemPrice">  <span class="beforeRebate">$1,048.00</span>   $698.00  </div>  </div> </a> <div class="atc-atw">  <button class="overlay-on-hover button atc bluesvg" data-attach="addToCart"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add To Cart</span> </button>  </div> </div> </div></div></div><div class="productView hoverLayerContainer"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="https://www.bhphotovideo.com/c/product/1241265-REG/apple_mlmv2ll_a_9_7_ipad_pro_128gb.html"> <div class="clearfix"> <img class="itemImage" src="images/b3.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $70 on&nbsp;</b> Apple 9.7" iPad Pro (128GB, Wi-Fi Only, Space Gray) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 100%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">98</span>  </span> <div class="itemPrice">   $629.00   </div> </div> </div> </a> </div><div class="productHoverLayer"><div class="productHoverLayer-inner"> <div class="item"> <a href="#" class="detailsLink clearfix" data-track-link="USE_ITEM"> <div class="itemImage"> <img src="https://static.bhphoto.com/images/images150x150/1458661107000_1241265.jpg"> </div> <div class="itemInfo"> <div class="product-title"> <h2> Apple 9.7" iPad Pro (128GB, Wi-Fi Only, Space Gray) </h2> </div> <span class="rating review-stars-small clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 100%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">98</span>  </span>  <div class="itemPrice">  <span class="beforeRebate">$699.00</span>   $629.00  </div>  </div> </a> <div class="atc-atw">  <button class="overlay-on-hover button atc bluesvg" data-attach="addToCart"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add To Cart</span> </button>  </div> </div> </div></div></div><div class="productView"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="#"> <div class="clearfix"> <img class="itemImage" src="images/b4.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  27% on&nbsp;</b> Freehands Men's Stretch Thinsulate Gloves (Large, Black) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 80%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">159</span>  </span> <div class="itemPrice">   $21.95   </div> </div> </div> </a> </div></div><div class="productView"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="#"> <div class="clearfix"> <img class="itemImage" src="images/b5.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $120 on&nbsp;</b> Rokinon 12mm f/2.0 NCS CS Lens for Sony E-Mount (Black) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">95</span>  </span> <div class="itemPrice">   $279.00   </div> </div> </div> </a> </div></div><div class="productView"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="#"> <div class="clearfix"> <img class="itemImage" src="images/b6.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $50 on&nbsp;</b> UDI RC UDU818A-1 Discovery Quadcopter with HD Camera (Blue) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 80%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">67</span>  </span> <div class="itemPrice">   $49.99   </div> </div> </div> </a> </div></div><div class="productView"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="#"> <div class="clearfix"> <img class="itemImage" src="images/b7.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $75 on&nbsp;</b> ZTE ZMAX 2 16GB Smartphone (Unlocked, Titanium) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 70%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">3</span>  </span> <div class="itemPrice">   $74.99   </div> </div> </div> </a> </div></div><div class="productView"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="#"> <div class="clearfix"> <img class="itemImage" src="images/b8.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $60 on&nbsp;</b> Mevo Live Event Camera by Livestream (Black) </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 80%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">9</span>  </span> <div class="itemPrice">   $339.99   </div> </div> </div> </a> </div></div><div class="productView"><div class="item non-hover-item"> <a class="overlay-on-hover detailsLink" href="#"> <div class="clearfix"> <img class="itemImage" src="images/b9.jpg"> <div class="itemInfo"> <div class="dz-desc"> <h2 class="dz-desc-inner"> <b>Save  $180 on&nbsp;</b> Sigma 18-300mm f/3.5-6.3 DC MACRO OS HSM Contemporary Lens for Canon EF </h2> </div> <span class="rating review-stars-tiny clearfix">  <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">34</span>  </span> <div class="itemPrice">   $399.00   </div> </div> </div> </a> </div></div></div> <div class="see-all"> <a class="see-all-savings overlay-on-hover" href="//www.bhphotovideo.com/c/buy/rebates-promotions/ci/22144/N/4019732813">VIEW All DEALS</a> </div></div></div> </div> </section></div></section><section id="moduleTrending877191f8-9120-4a51-bd34-45f283b8435e" class="newRegion moduleTrendingRegion">
                    <div class="bhView ">
                        <section>
                            <header class="section-header"> <h1> What's happening now at B&amp;H <p class="sub-header c32 fs12">Updated Hourly</p> </h1> <select class="left section-button disable-select" name="source"> <option value="">Showing All</option> <option value="best_seller">Top Seller</option> <option value="just_reviewed">New Review</option> <option value="brightcove">Videos</option> <option value="customer_image">Customer Images</option> <!-- <option value="just_sold">Just Sold</option> --> <option value="explora">Explora</option> <option value="twitter">Twitter</option> <option value="facebook">Facebook</option> <option value="instagram">Instagram</option> </select> <span class="select-plus">+</span> </header> <div id="content">
                                <div class="bhView " style="position: relative; height: 1449.88px;">
                                    <section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 0px; top: 0px;"><header class="trending-header trending-header_product hasSubheader ">  <h2>Top Seller</h2>  <span class="subHeader"> <a href="https://www.bhphotovideo.com/c/buy/Filter-Kits/ci/240/N/4026728334">in <b>Filter Kits</b></a> </span>   <span class="timeCreated">22 minutes ago</span> </header> <span><a href="#">  <img class="itemImage" src="images/c1.jpg" onload="$(this).trigger('imgloaded')"> <h2>Luminesque 77mm Circular Polarizer and UV Slim PRO Filter Kit</h2>  <span class="rating review-stars-small clearfix"> <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">170</span> </span>   <div class="itemPrice"> $50.00 </div>   </a>  <button class="js-addToCart overlay-on-hover button" data-attach="addToCart" data-atc-props="{&quot;sku&quot;:&quot;1047280&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;addedTroughType&quot;:&quot;homePage:trending&quot;,&quot;q&quot;:&quot;1&quot;,&quot;price&quot;:&quot;50.00&quot;}"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add to Cart</span> </button> </span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 324px; top: 0px;"><header class="trending-header trending-header-customerImage  ">  <h2>New Customer Image</h2>   <span class="timeCreated">5 days ago</span> </header> <span><a href="#"> <div>  <img src="https://res.cloudinary.com/powerreviews/image/upload/f_auto,w_522,h_768/prod/nniv04iioxc9lm64po7u.jpg" onload="$(this).trigger('imgloaded')">  </div> <div> <p>Fujifilm XF 50-140mm f/2.8 R LM OIS WR Lens </p> </div> <div> Low light performance SOOC JPEG 1/10 sec 1600 ISO 140mm </div> </a></span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 649px; top: 0px;"><header class="trending-header trending-header-facebook  ">  <a href="#" target="_blank"> <span class="social-icon icon-facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></span> <h2> Facebook </h2> </a>  <span class="timeCreated">1 day ago</span> </header> <span> <img src="https://external.xx.fbcdn.net/safe_image.php?d=AQDlNYge0KZ8sdYv&amp;w=130&amp;h=130&amp;url=fbstaging%3A%2F%2Fgraph.facebook.com%2Fstaging_resources%2FMDExMDE1NDM5ODM1NTAwMjk4MjoxMTcwNzkyNDY4&amp;cfs=1&amp;hash=AQAa73jP_eeLkpRF" onload="$(this).trigger('imgloaded')">   <div class="socialCaption"> Deals to keep more cash in your pocket! #GreenMonday <a href="#" target="_blank">bhpho.to/2hfP8hO</a> </div> </span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 974px; top: 0px;">
                                        <header class="trending-header trending-header_product  ">  <h2>New Review</h2>   <span class="timeCreated">Recently</span> </header> <span>
                                            <a href="#">  <div class="jr-sec"> <em>"great buy"</em> <div class="starsWrapper"> <span class="rating review-stars-medium clearfix"> <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 100%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> </span> </div> </div>  <img class="itemImage" src="images/c5.jpg" onload="$(this).trigger('imgloaded')"> <h2>Sanho HyperDrive USB Type-C 5-in-1 Hub with Pass Through Charging (Gold)</h2>  <span class="rating review-stars-small clearfix"> <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 100%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">2</span> </span>   <div class="itemPrice"> $49.95 </div>   </a>  <button class="js-addToCart overlay-on-hover button" data-attach="addToCart" data-atc-props="{&quot;sku&quot;:&quot;
									&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;addedTroughType&quot;:&quot;homePage:trending&quot;,&quot;q&quot;:&quot;1&quot;,&quot;price&quot;:&quot;49.95&quot;}">
                                                <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add to Cart</span>
                                            </button>
                                        </span>
                                    </section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 649px; top: 314px;"><header class="trending-header trending-header-video  ">  <h2>New Video</h2>   <span class="timeCreated">5 days ago</span> </header> <span><div class="js-showVideo videoContainer"> <img src="https://bcsecure01-a.akamaihd.net/12/1661991858001/201612/2115/1661991858001_5240789462001_5240718044001-vs.jpg?pubId=1661991858001" height="100%" width="100%" onload="$(this).trigger('imgloaded')"> <div class="overlay"></div> <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg> </div> <div> Hands-on Review: Lectrosonics Portable Digital Recorder </div></span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 0px; top: 456px;"><header class="trending-header trending-header_product hasSubheader ">  <h2>Top Seller</h2>  <span class="subHeader"> <a href="#">in <b>Paper &amp; Ribbons for Dye Sub</b></a> </span>   <span class="timeCreated">22 minutes ago</span> </header> <span><a href="#">  <img class="itemImage" src="images/c2.jpg" onload="$(this).trigger('imgloaded')"> <h2>Canon KP-108IN Color Ink And Paper Set</h2>  <span class="rating review-stars-small clearfix"> <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 100%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">146</span> </span>   <div class="itemPrice"> $29.99 </div>   </a>  <button class="js-addToCart overlay-on-hover button" data-attach="addToCart" data-atc-props="{&quot;sku&quot;:&quot;575017&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;addedTroughType&quot;:&quot;homePage:trending&quot;,&quot;q&quot;:&quot;1&quot;,&quot;price&quot;:&quot;29.99&quot;}"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add to Cart</span> </button> </span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 974px; top: 525px;"><header class="trending-header trending-header-customerImage  ">  <h2>New Customer Image</h2>   <span class="timeCreated">6 days ago</span> </header> <span><a href="#"> <div>  <img src="https://res.cloudinary.com/powerreviews/image/upload/f_auto,w_511,h_767/prod/poxnyipupavaoyzvkibe.jpg" onload="$(this).trigger('imgloaded')">  </div> <div> <p>Sigma 18-35mm f/1.8 DC HSM Art Lens for Sony Alpha </p> </div> <div> Sony A58  18mm, f/1.8, 1/250, ISO 100 </div> </a></span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 324px; top: 602px;">
                                        <header class="trending-header trending-header-facebook  ">  <a href="#" target="_blank"> <span class="social-icon icon-facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></span> <h2> Facebook </h2> </a>  <span class="timeCreated">5 days ago</span> </header> <span>
                                            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/s130x130/15389193_10154377494372982_466849136755343360_n.jpg?oh=98fc4477e80d6ab75736f305840e51b8&amp;oe=58B634FD" onload="$(this).trigger('imgloaded')">   <div class="socialCaption">
                                                Color calibration is an important process when taking and editing photos.

                                                Enter the Spyder5CAPTURE PRO bundle!
                                            </div>
                                        </span>
                                    </section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 649px; top: 625px;"><header class="trending-header trending-header_product  ">  <h2>New Review</h2>   <span class="timeCreated">Recently</span> </header> <span><a href="#">  <div class="jr-sec"> <em>"Good first step"</em> <div class="starsWrapper"> <span class="rating review-stars-medium clearfix"> <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 80%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> </span> </div> </div>  <img class="itemImage" src="images/c4.jpg" onload="$(this).trigger('imgloaded')"> <h2>Google Home (White Slate)</h2>  <span class="rating review-stars-small clearfix"> <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">14</span> </span>   <div class="itemPrice"> $129.00 </div>   </a>  <button class="js-addToCart overlay-on-hover button" data-attach="addToCart" data-atc-props="{&quot;sku&quot;:&quot;1297281&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;addedTroughType&quot;:&quot;homePage:trending&quot;,&quot;q&quot;:&quot;1&quot;,&quot;price&quot;:&quot;129.00&quot;}"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add to Cart</span> </button> </span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 324px; top: 883px;"><header class="trending-header trending-header-video  ">  <h2>New Video</h2>   <span class="timeCreated">11/25/2016</span> </header> <span><div class="js-showVideo videoContainer"> <img src="https://brightcove04pmdo-a.akamaihd.net/1661991858001/1661991858001_5219394849001_5169194369001-vs.jpg?pubId=1661991858001" height="100%" width="100%" onload="$(this).trigger('imgloaded')"> <div class="overlay"></div> <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg> </div> <div> Mic Techniques with Electric Guitars </div></span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 0px; top: 913px;"><header class="trending-header trending-header_product hasSubheader ">  <h2>Top Seller</h2>  <span class="subHeader"> <a href="#">in <b>Memory Cards</b></a> </span>   <span class="timeCreated">22 minutes ago</span> </header> <span><a href="#">  <img class="itemImage" src="images/c3.jpg" onload="$(this).trigger('imgloaded')"> <h2>SanDisk 64GB Extreme PRO SDXC UHS-I Memory Card</h2>  <span class="rating review-stars-small clearfix"> <span class="review-stars"> <svg class="review-stars-grey"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> <span class="review-stars-inner" style="width: 90%;"> <svg class="review-stars-green"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stars"></use></svg> </span> </span> <span class="numberOfReviews">9</span> </span>   <div class="itemPrice"> $34.95 </div>   </a>  <button class="js-addToCart overlay-on-hover button" data-attach="addToCart" data-atc-props="{&quot;sku&quot;:&quot;1282965&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;addedTroughType&quot;:&quot;homePage:trending&quot;,&quot;q&quot;:&quot;1&quot;,&quot;price&quot;:&quot;34.95&quot;}"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Add to Cart</span> </button> </span></section><section class="trending-item fadeInHidden fadeInVisible" style="position: absolute; left: 649px; top: 1107px;"><header class="trending-header trending-header-customerImage  ">  <h2>New Customer Image</h2>   <span class="timeCreated">7 days ago</span> </header> <span><a href="#"> <div>  <img src="https://res.cloudinary.com/powerreviews/image/upload/f_auto,w_1024,h_682/prod/z7y9qhyd6f3xh0gcfotv.jpg" onload="$(this).trigger('imgloaded')">  </div> <div> <p>Sigma 50mm f/1.4 DG HSM Art Lens for Canon EF </p> </div> <div>  </div> </a></span></section>
                                </div>
                            </div> <footer class="clearfix"> <button class="load-more js-load-more"> <svg class="circle-loader circle-loader20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <g><circle class="fixed" cx="50%" cy="50%" r="40%"></circle></g> <g><circle class="rotate" cx="50%" cy="50%" r="40%"></circle></g> </svg> <span>Load More</span> </button> </footer>
                        </section>
                    </div>
                </section>







                <section class="styled-async sub-categories">
                    <div>
                        <header class="section-header">
                            <h1>Top Categories</h1>
                        </header>

                        <div class="categoriesWrapper clearfix" data-selenium="categoriesWrapper">
                            <div class="subCategories photography" data-selenium="photography" style="height: 252px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Photography-Photography" data-selenium="photographyLink" class="pseudoLink" data-href="#">Photography</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Photography-Digital Cameras" data-selenium="Digital_Cameras" href="#">Digital Cameras</a></li>
                                        <li><a name="Center-Photography-Lenses" data-selenium="Lenses" href="#">Lenses</a></li>
                                        <li><a name="Center-Photography-Flashes" data-selenium="Flashes" href="#">Flashes</a></li>
                                        <li><a name="Center-Photography-Printers" data-selenium="printers" href="#">Printers</a></li>
                                        <li><a name="Center-Photography-Scanners" data-selenium="Scanners" href="#">Scanners</a></li>
                                    </ul>
                                    <p><a name="Center-Photography-See All" data-selenium="PhotoAll" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories photoAccessories" data-selenium="photoAccessories" style="height: 252px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Photo Accessories-Photo Accessories" data-selenium="photoAccessoriesLink" class="pseudoLink" data-href="#">Photo Accessories</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Photo Accessories-Film" data-selenium="Film" href="#">Film</a></li>
                                        <li><a name="Center-Photo Accessories-Memory Cards" data-selenium="Memory_Cards" href="#">Memory Cards</a></li>
                                        <li><a name="Center-Photo Accessories-Tripods" data-selenium="Tripods2" href="#">Tripods</a></li>
                                        <li><a name="Center-Photo Accessories-Bags &amp; Cases" data-selenium="Bags_Cases" href="#">Bags &amp; Cases</a></li>
                                        <li><a name="Center-Photo Accessories-Software" data-selenium="Software" href="#">Software</a></li>
                                        <li><a name="Center-Photo Accessories-Underwater" data-selenium="Underwater2" href="#">Underwater</a></li>
                                    </ul>
                                    <p><a name="Center-Photo Accessories-See All" data-selenium="Photo_Accessories" href="#">See All </a></p>
                                </div>
                            </div>
                            <div class="subCategories lightingStudio" data-selenium="lightingStudio" style="height: 252px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Lighting &amp; Studio-Lighting &amp; Studio" data-selenium="lightingStudioLink" class="pseudoLink" data-href="#">Lighting</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Lighting &amp; Studio-Continuous Lighting" data-selenium="Continuous_Lighting" href="#">Continuous Lighting</a></li>
                                        <li><a name="Center-Lighting &amp; Studio-Strobe Lighting" data-selenium="StrobeLighting" href="#">Strobe Lighting</a></li>
                                        <li><a name="Center-Lighting &amp; Studio-Lighting Controls" data-selenium="Lighting_Controls" href="#">Lighting Controls</a><span> &amp; </span><a name="Center-Lighting &amp; Studio-Grip" href="https://www.bhphotovideo.com/c/buy/Mounting-Hardware/ci/1346/N/4062040378">Mounting Hardware</a></li>
                                    </ul>
                                    <p><a name="Center-Lighting &amp; Studio-See All" data-selenium="uma_lightingstudio" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories Computers" data-selenium="computers" style="height: 276px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Computers-Computers" data-selenium="computersLink" class="pseudoLink" data-href="#">Computers</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Computers-Desktops" data-selenium="Desktops_" href="#">Desktops &amp; Workstations</a></li>
                                        <li><a name="Center-Computers-Laptops" data-selenium="Laptops" href="#">Laptops</a></li>
                                        <li><a name="Center-Computers-Tablets" data-selenium="Tablets" href="#">Tablets</a></li>
                                        <li><a name="Center-Computers-Monitors" data-selenium="Monitors" href="#">Monitors</a></li>
                                        <li><a name="Center-Computers-Storage" data-selenium="Storage" href="#">Storage</a></li>
                                        <li><a name="Center-Computers-Software" data-selenium="Software2" href="#">Software</a></li>
                                        <li><a name="Center-Computers-voip" data-selenium="voip" href="#">VoIP</a></li>
                                    </ul>
                                    <p><a name="Center-Computers-See All" data-selenium="computersAll" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories homeEntertainment" data-selenium="homeEntertainment" style="height: 276px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Home Entertainment-Home Entertainment" data-selenium="homeEntertainmentLink" class="pseudoLink" data-href="#">Home Entertainment</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Home Entertainment-TVs" data-selenium="TVs" href="#">TVs</a></li>
                                        <li><a name="Center-Home Entertainment-Projectors" data-selenium="Projectors" href="#">Projectors</a></li>
                                        <li><a name="Center-Home Entertainment-Home Theater In a Box" data-selenium="Home_Theater_In_A_Box" href="#">Home Theater In a Box</a></li>
                                        <li><a name="Center-Home Entertainment-A/V Receivers" data-selenium="A_V_Receivers" href="#">A/V Receivers</a></li>
                                        <li><a name="Center-Home Entertainment-Speakers" data-selenium="speakers" href="#">Speakers</a></li>
                                        <li><a name="Center-Home Entertainment-Blu-ray" data-selenium="ray_Players" href="#">Blu-ray Players</a></li>
                                        <li><a name="Center-Home Entertainment-DVD" data-selenium="DVD_Players" href="#">DVD Players</a></li>
                                    </ul>
                                    <p><a name="Center-Home Entertainment-See All" data-selenium="Home_Entertainment" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories proVideo" data-selenium="proVideo" style="height: 276px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Pro Video-Pro Video" data-selenium="proVideoLink" class="pseudoLink" href="#">Professional Video</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Pro Video-Camcorders &amp; Cameras" data-selenium="CamcordersCameras" href="https://www.bhphotovideo.com/c/buy/Pro-Camcorders-Cameras/ci/16763/N/4256818817">Camcorders</a></li>
                                        <li><a name="Center-Pro Video-Production Equipment" data-selenium="Lenses2" href="#">Lenses</a></li>
                                        <li><a name="Center-Pro Video-Post Production" data-selenium="Tripods" href="#">Tripods</a></li>
                                        <li><a name="Center-Pro Video-Audio for Video" data-selenium="Stabilizers" href="#">Stabilizers</a></li>
                                        <li><a name="Center-Pro Post-Production" data-selenium="PostProduction" href="#">Post Production</a></li>
                                        <li><a name="Center-Pro Audio-for-Video" data-selenium="Audio_for_Video" href="#">Audio for Video</a></li>
                                    </ul>
                                    <p><a name="Center-Pro Video-See All" data-selenium="video_professional" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories Mobile" data-selenium="Mobile" style="height: 228px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Mobile-Mobile" data-selenium="MobileLink" class="pseudoLink" data-href="#">Mobile</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Mobile-Smartphones" data-selenium="Smartphones" href="#">Smartphones</a></li>
                                        <li><a name="Center-Mobile-Tablets" data-selenium="Tablets" href="#">Tablets</a></li>
                                        <li><a name="Center-Mobile-Wearable Tech" data-selenium="Wearable_Tech" href="#">Wearable Tech</a></li>
                                        <li><a name="Center-Mobile-Headphones" data-selenium="Headphones" href="#">Headphones</a></li>
                                    </ul>
                                    <p><a name="Center-Mobile-See All" data-selenium="MobileCategory" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories proAudio" data-selenium="proAudio" style="height: 228px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Pro Audio-Pro Audio" data-selenium="proAudioLink" class="pseudoLink" data-href="#">Pro Audio</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Pro Audio-Recording" data-selenium="Recording" href="#">Recording</a></li>
                                        <li><a name="Center-Pro Audio-Live Sound" data-selenium="Live_Sound" href="#">Live Sound</a></li>
                                        <li><a name="Center-Pro Audio-ENG, EFP &amp; Broadcast" data-selenium="ENG_EFP_" href="#">ENG, EFP &amp; Broadcast</a></li>
                                        <li><a name="Center-Pro Audio-Computer Audio" data-selenium="Computer_Audio" href="#">Computer Audio</a></li>
                                    </ul>
                                    <p><a name="Center-Pro Audio-See All" data-selenium="pro_audio" href="#">See All</a></p>
                                </div>
                            </div>

                            <div class="subCategories consumerVideo" data-selenium="consumerVideo" style="height: 228px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Consumer Video-Consumer Video" data-selenium="consumerVideolLink" class="pseudoLink" data-href="#">Camcorders</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Consumer Video-High Definition" data-selenium="Handheld" href="#">Handheld</a></li>
                                        <li><a name="Center-Consumer Video-Shoot &amp; Share" data-selenium="Sports_Action" href="#">Sports &amp; Action</a></li>
                                        <li><a name="Center-Consumer Video-Sports &amp; Helmet" data-selenium="Underwater" href="#">Underwater</a></li>
                                        <li><a name="Center-Consumer Video-3D" data-selenium="Cases" href="#">Cases</a></li>
                                        <li><a name="Center-Consumer Video-Underwater" data-selenium="Support_Equipment" href="#">Support Equipment</a></li>
                                    </ul>
                                    <p><a name="Center-Consumer Video-See All" data-selenium="consumer_video" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories avPresentation" data-selenium="avPresentation" style="height: 228px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-A/V Presentation-A/V Presentation" data-selenium="avPresentationLink" class="pseudoLink" data-href="#">Audio-Visual</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-A/V Presentation-Projectors" data-selenium="Projectors2" href="#">Projectors</a></li>
                                        <li><a name="Center-A/V Presentation-Projection Screens" data-selenium="Projection_Screens" href="#">Projection Screens</a></li>
                                        <li><a name="Center-A/V Presentation-Presenters and Visualizers" data-selenium="Presenters_and_Visualizers" href="#">Presenters and Visualizers</a></li>
                                        <li><a name="Center-A/V Presentation-Furniture &amp; Mounts" data-selenium="Furniture_Mounts" href="#">Mounts &amp; Carts</a></li>
                                    </ul>
                                    <p><a name="Center-A/V Presentation-See All" data-selenium="av_presentation" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories Surveillance" data-selenium="Surveillance" style="height: 228px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Surveillance-Surveillance" data-selenium="surveillanceLink" class="pseudoLink" data-href="#">Surveillance</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Surveillance-Surveillance Kits" data-selenium="Surveillance_Kits" href="#">Surveillance Kits</a></li>
                                        <li><a name="Center-Surveillance-Security Cameras" data-selenium="Security_Cameras" href="#">Security Cameras</a></li>
                                        <li><a name="Center-Surveillance-Lenses" data-selenium="Lenses3" href="#">Lenses</a></li>
                                        <li><a name="Center-Surveillance-DVR" data-selenium="Center-Surveillance-NVR" href="#">DVR</a><span> / </span><a name="Center-Surveillance-NVR" href="https://www.bhphotovideo.com/c/buy/Network-Video-Recorders-NVRs/ci/12553/N/3880127398">NVR</a></li>
                                        <li><a name="Center-Surveillance-Monitors" data-selenium="Monitors2" href="#">Monitors</a></li>
                                    </ul>
                                    <p><a name="Center-Surveillance-See All" data-selenium="surveillance" href="#">See All</a></p>
                                </div>
                            </div>
                            <div class="subCategories Optics" data-selenium="Optics" style="height: 228px;">
                                <div class="ipWrapper">
                                    <div class="categoryImagePlaceholder"></div>
                                </div>
                                <span name="Center-Optics-Optics" data-selenium="OpticsLink" class="pseudoLink" data-href="#">Optics &amp; Outdoor</span>
                                <div>
                                    <ul>
                                        <li><a name="Center-Optics-Binoculars" data-selenium="Binoculars" href="#">Binoculars</a></li>
                                        <li><a name="Center-Optics-Telescopes" data-selenium="Telescopes" href="#">Telescopes</a></li>
                                        <li><a name="Center-Optics-Spotting Scopes" data-selenium="Telescopes" href="#">Spotting Scopes</a></li>
                                        <li><a name="Center-Optics-Night Vision" data-selenium="Night_Vision" href="#">Night Vision</a></li>
                                    </ul>
                                    <p><a name="Center-Optics-See All" data-selenium="OpticsAll" href="#">See All</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>



            <div class="connect-with-us new-page-width reg-box-shadow styled-async" data-selenium="bannerZone">
                <div class="socialLinksContainer">
                    <h2><span>Connect</span> with us.</h2>
                    <p class="fs16">Join our community! Stay on top of all the latest technology, industry events and consumer electronics content from around the web. </p>
                    <div class="sLinksContainer" data-selenium="slinksCont">
                        <a class="singleLink facebookL" data-selenium="faceBookL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-Facebook">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg>
                        </a>
                        <a class="singleLink twitterL" data-selenium="twitterL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-Twitter">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg>
                        </a>
                        <a class="singleLink googlePlusL" data-selenium="googleplusL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-GooglePlus">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gplus"></use></svg>
                        </a>
                        <a class="singleLink pinterestL" data-selenium="pinterestL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-Pinterest">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pintrest"></use></svg>
                        </a>
                        <a class="singleLink youTubeL" data-selenium="youtubeL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-YouTube">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg>
                        </a>
                        <a class="singleLink FlickrL" data-selenium="flickerL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-Flickr">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#flickr"></use></svg>
                        </a>
                        <a class="singleLink tumblrL" data-selenium="tumblerL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-Tumblr">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tumblr"></use></svg>
                        </a>
                        <a class="singleLink instagramL" data-selenium="instagramL" href="#" target="_blank" name="SocialMediaBar-_-HomePage-_-Integram">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg>
                        </a>
                    </div>

                </div>

            </div>





        </div><!-- end t-main -->







        <script>lazyLoad.lazyCss("https://www.bhphotovideo.com/find/stylesheet.jsp?currPage=homePage15&loadon=bottom&lang=en&site=reg&files=brightcove_icons.css&min=Y&vr=1117603277",200);</script>








        <script>
			var BH = BH || {};
			BH.globals = BH.globals || {};
			BH.constants = BH.constants || {};
			BH.constants.jsessionid = "";
			BH.constants.isLanguageSliderUser = false;
			BH.constants.switchLanguageUrl = {
				english: 'https://www.bhphotovideo.com/bnh/controller/home?O=nav&A=switchLanguage&Q=&ul=E',
				spanish: 'https://www.bhphotovideo.com/spanish/changeLanguage'
			}
			BH.globals.currPageName = "RootPage.jsp";
			BH.globals.catalogId = "2";
        </script>




        <script type="text/javascript">


	function lazyRunCoremetrics(){






function cormetricsRunScripts(cb){


          cmSetClientID("90132819",false,"server.bhphotovideo.com","bhphotovideo.com");
          cmSetupOther({"cm_TrackImpressions":""});



	cb? cb():"";
}



			cormetricsRunScripts();











	}//end lazyRunCoremetrics

        </script>


        <script>lazyLoad.lazyJs('https://www.bhphotovideo.com/find/javascripts.jsp?currPage=homePage15&loadon=lazy&lang=en&ssc=gdt-Hot&min=Y&vr=-1381859133',true,lazyRunCoremetrics);</script>

        <script type="text/javascript">
		lazyLoad.setOdUrl("https://www.bhphotovideo.com/find/javascripts.jsp&min=Y&v=release20161212v10t155633155633&module=");
        </script>




        <script type="text/javascript">
				BH.globals.moduleOrder = [
					"PersonalizationOne",
					"DealZone",



					"Trending"
				];
				var rootPageMLT = {
						markedDown1: "Did you know? An item in your Cart has a new low price:",
						markedDown2: "Psst! An item on your Wish List was just marked down:",
						markedDown3: "Instant Rebate on an item in your Cart expires in <span class='highlight' data-attach='expiringInTxt'>",
						markedDown4: "Instant Rebate on an item on your Wish List expires in <span class='highlight' data-attach='expiringInTxt'>",
						markedDown5: "Mail-In Rebate on an item in your Cart expires in",
						markedDown6: "Mail-In Rebate on an item on your Wish List expires in",
						markedDown7: "Better hustle: Rebate Bonus for an item on your Wish List expires in ",
						markedDown7: "Better hustle: Rebate Bonus for an item on your Wish List expires in ",
						DontMissOut: "Don't Miss Out",
						specialDeals: "Special deals & discounts on items you're interested in",
						AddToCartCheckout: "Add to cart & checkout",
						ViewCartCheckout: "View cart & checkout",
						showing: "Showing"
					};
        </script>