@{
    Layout = "/Views/Shared/Layouts.cshtml";
}
<script type='text/javascript' src='//code.jquery.com/jquery-1.10.1.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.onePopupLayer').hide();
        $("#chargeAfter").click(function () {
            $('#onePopupLayer').show();
        });
        $("#chargeAfter2").click(function () {
            $('#onePopupLayer').show();
        });
        
    function ChargeAfter() {
        alert("heloo");
        $('.onePopupLayer').show();
    }
    });

</script>
<div id="onePopupLayer" class="popupLayer ui-draggable atcLayer2" style="position: absolute; top:10px;  left: 304.5px; margin-top:auto; margin-bottom:auto; position: fixed">
    <div class="popupLayerHeader" style="background-image: none; border-bottom:#fff"><h2>Flexible payment plans with ChargeAfter</h2>
    <div class="close">To ChargeAfter</div></div>
    <div class="popLayerMainContent" style="background:#fff">
        <div style="width:600px; background-color:#fff" class="atc-layer twelve" data-selenium="addToCartLayer">
            <div class="item js-item mainItemATCLayer js-bhItemObj js-itemInCart" data-selenium="item" style="width:20%; display:inline-block; text-align:center" data-sku="1295127" data-is="REG" data-itemdata="{&quot;sku&quot;:&quot;1295127&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;itemCode&quot;:&quot;ASUX301LAWS7&quot;,&quot;inCart&quot;:true}">
                <div class="full-width clearfix c2">
                    <div class="main-details full-width clearfix">
                        <img src="~/images/approve.png" 
                             style="width:50%;height:auto; margin-top:40px"/>
                    </div>
                </div>
            </div>
            <div class="item js-item mainItemATCLayer js-bhItemObj js-itemInCart" data-selenium="item" style="width:50%;display:inline-block" data-sku="1295127" data-is="REG" data-itemdata="{&quot;sku&quot;:&quot;1295127&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;itemCode&quot;:&quot;ASUX301LAWS7&quot;,&quot;inCart&quot;:true}">
                <div class="full-width clearfix c2">
                    <div class="main-details full-width clearfix">
                        <h1 style="font-size: large;font-weight: 600;">Quick approval</h1>
                        <p>based on your provided information we will give you best financing offers in real time </p>
                    </div>
                </div>
            </div>
            <div style="width:600px; background-color:#fff" class="atc-layer twelve" data-selenium="addToCartLayer">
                <div class="item js-item mainItemATCLayer js-bhItemObj js-itemInCart" data-selenium="item" style="width:20%; display:inline-block; text-align:center" data-sku="1295127" data-is="REG" data-itemdata="{&quot;sku&quot;:&quot;1295127&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;itemCode&quot;:&quot;ASUX301LAWS7&quot;,&quot;inCart&quot;:true}">
                    <div class="full-width clearfix c2">
                        <div class="main-details full-width clearfix">
                            <img src="~/images/images (2).png"
                                 style="width:50%;height:auto; margin-top:0px" />
                        </div>
                    </div>
                </div>
                <div class="item js-item mainItemATCLayer js-bhItemObj js-itemInCart" data-selenium="item" style="width:50%;display:inline-block" data-sku="1295127" data-is="REG" data-itemdata="{&quot;sku&quot;:&quot;1295127&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;itemCode&quot;:&quot;ASUX301LAWS7&quot;,&quot;inCart&quot;:true}">
                    <div class="full-width clearfix c2">
                        <div class="main-details full-width clearfix">
                            <h1 style="font-size: large;font-weight: 600;">Easy and flexible payments</h1>
                            <p>Split your payments over time, make purchasing easy with fix monthly payments</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:600px; background-color:#fff" class="atc-layer twelve" data-selenium="addToCartLayer">
                <div class="item js-item mainItemATCLayer js-bhItemObj js-itemInCart" data-selenium="item" style="width:20%; display:inline-block; text-align:center" data-sku="1295127" data-is="REG" data-itemdata="{&quot;sku&quot;:&quot;1295127&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;itemCode&quot;:&quot;ASUX301LAWS7&quot;,&quot;inCart&quot;:true}">
                    <div class="full-width clearfix c2">
                        <div class="main-details full-width clearfix">
                            <img src="~/images/rates.png"
                                 style="width:50%;height:auto; margin-top:0px" />
                        </div>
                    </div>
                </div>
                <div class="item js-item mainItemATCLayer js-bhItemObj js-itemInCart" data-selenium="item" style="width:50%;display:inline-block" data-sku="1295127" data-is="REG" data-itemdata="{&quot;sku&quot;:&quot;1295127&quot;,&quot;is&quot;:&quot;REG&quot;,&quot;itemCode&quot;:&quot;ASUX301LAWS7&quot;,&quot;inCart&quot;:true}">
                    <div class="full-width clearfix c2">
                        <div class="main-details full-width clearfix">
                            <h1 style="font-size: large;font-weight: 600;">Great rates</h1>
                            <p> Our system is connected to multiple financing offers in real time and will enable you to get the best payment plans </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                 
        <link rel="stylesheet" type="text/css" href="https://www.bhphotovideo.com/find/stylesheet.jsp?files=squareTradeChart.css&amp;min=Y&amp;vr=229883071">
    </div><div id="hiddenAjaxField" style="display:none;"><div id="ajaxForms"></div></div><div id="subLayers"></div>
</div>

    <script src="//399-ct.c3tag.com/c3metrics-399.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script type="text/javascript" src="https://js.appboycdn.com/web-sdk/latest/appboy.min.js"></script>
    <script type="text/javascript" async="" src="//platform.twitter.com/oct.js"></script>
    <script type="text/javascript" async="" src="//bat.bing.com/bat.js"></script>
    <script type="text/javascript" async="" src="https://static.criteo.net/js/ld/ld.js"></script>
    <script async="" src="//connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/code/eba38b4487dbd690018de6093d9f032d.js?conditionId0=421854"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/code/8cbc2c83e5117452f883bfaaa21040c1.js?conditionId0=478815"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/code/31823e71e3efc21ccedb2cf002e8d198.js?conditionId0=360095"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/code/c690115b2e8864cac6f2b41501b3c176.js?conditionId0=380898&amp;conditionId1=375435"></script>
    <script type="text/javascript" async="" src="https://nexus.ensighten.com/bhfoto/prod/code/d975ddb921af7b435554b9a4a51b6518.js?conditionId0=383797&amp;conditionId1=385508&amp;conditionId2=456517"></script>
    <script src="https://nexus.ensighten.com/bhfoto/prod/serverComponent.php?r=49495.79794234709&amp;ClientID=1084&amp;PageID=https%3A%2F%2Fwww.bhphotovideo.com%2Flaptops"></script>
    <meta charset="utf-8">
    <title>Laptops | Notebooks and Laptop Computers | B&amp;H Photo</title>
    <meta name="description" content="B&amp;H has the best laptop computer deals. MacBooks, notebooks, gaming laptops for sale. Knowledgeable salesforce, great prices, legendary service.">
    <meta name="keywords" content="best laptop computer deals, MacBooks, notebooks, gaming laptops for sale">


    <link rel="canonical" href="https://www.bhphotovideo.com/laptops">





    <script async="" src="https://www.fullstory.com/s/fs.js"></script>
    <script>
(function() {
	var _onDemandHash = {}, _onDemandURL;

	// status codes - based on XMLHttpRequest.readyState ( see: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest#Properties)
	var UNSENT = 0,
		LOADING = 3,
		DONE = 4;


	var lazyLoad = {
		js : function(url,main,cb){


			var isMainJs = (main === true);
			if(!isMainJs){
				cb = main;
				if(document.jsState === "loading"){
					setTimeout(function(){
						lazyLoad.js(url,cb);
					},5);
					return;
				}
			}else{
				document.jsState = "loading";
			}

			lazyLoad.appendScript(url, cb, isMainJs);
		},
		jsOnReady: function(url, cb) {
			lazyLoad.onLoad(function(){
				lazyLoad.appendScript(url, cb);
			})
		},
		css : function(url){
			var link = document.createElement("link");
			link.href=url;
			link.rel="stylesheet";link.type="text/css";
			var a = document.getElementsByTagName("link")[0];
			a.parentNode.insertBefore(link,a);
		},
		onLoad : function(cb){
			if(document.readyState == "complete"){
				cb();
			}else{
				if(window.addEventListener)window.addEventListener("load",cb,false);
				else window.attachEvent("onload",cb);
			}
		},
		lazyJs : function(url,main,cb){
			if(main === true)document.jsState = "loading";
			lazyLoad.onLoad(function(){
				lazyLoad.js(url,main,cb);
			});
		},
		lazyCss : function(url, delay){
			delay = delay || 0;
			lazyLoad.onLoad(function(){
				setTimeout(function(){
					lazyLoad.css(url);
				}, delay)
			});
		},
		lazyRunJs : function(func){
			var callOnTime = function(){
				if(document.jsState === "loading"){
					setTimeout(function(){
						lazyLoad.lazyRunJs(func);
					},5);
					return;
				}else{
					func();
				}
			}

			lazyLoad.onLoad(callOnTime);
		},
		appendScript: function(url, cb, isMainJs) {
			var h=document.getElementsByTagName("head")[0],d=false,s=document.createElement("script");

			s.src=url;
			s.onload=s.onreadystatechange=function(){
				if(!d&&(!this.readyState||this.readyState=="loaded"||this.readyState=="complete")){
					d=true;
					if(isMainJs) document.jsState = "complete";
					if(typeof cb==='function'){
						cb();
					}
				}
			};
			h.appendChild(s);
		},
		setOdUrl : function(url) {
			_onDemandURL = url;
		},
		onDemand : function(moduleName) {

			// fail if _onDemandURL is undefined
			if(!_onDemandURL){
				throw "_onDemandURL in not yet defined";
			}

			var record = _onDemandHash[moduleName];

			//create a record if it doesn't exist
			if(! record){
				record = _onDemandHash[moduleName] = {
					"readyState" : UNSENT
				};
				this.js( _onDemandURL + moduleName , function() {
					record.readyState = DONE;
					if(record.deferred){
						record.deferred.resolve();
					}
				});
				record.readyState = LOADING;
			}


			// if jQuery.Deferred is available; use it.
			if( !record.deferred && jQuery && jQuery.Deferred ){
				record.deferred = new jQuery.Deferred;
				/*
					It is possible (however unlikely) that jQuery.Deferred will become
					available between the first and second requests for the same module.
					In that case we want to resolve the deferred immidiately
				*/
				if(record.readyState === DONE){
					record.deferred.resolve();
				}
			}

			return record.deferred || null;
		},
		prefetch : function(urls){
			if(!urls || !urls.length)return;
			if(typeof urls === "string")urls = [urls];
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					loader.prefetch(urls);
				}
			}
			xhr.open("GET",urls.splice(0,1),true);
			xhr.send();
		}
	}

	if(! window.lazyLoad){
		window.lazyLoad = lazyLoad;
	}

})();
    </script>



    <link rel="stylesheet" type="text/css" href="https://www.bhphotovideo.com/find/stylesheet.jsp?currPage=laptopPage&amp;lang=en&amp;site=reg&amp;min=Y&amp;vr=298383904">


    <script type="text/javascript" src="/otohphnbwwwsbsftstcuayyvxvxfs.js" defer=""></script>
    <style type="text/css">
        #d__fFH {
            position: absolute;
            top: -5000px;
            left: -5000px;
        }

        #d__fF {
            font-family: serif;
            font-size: 200px;
            visibility: hidden;
        }

        #ydffcaawtvtbafbqybsc {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
var SS_DL = "25671:784569";
    </script>
    <script src="//nexus.ensighten.com/bhfoto/Bootstrap.js"></script>
    <script src="https://www.bhphotovideo.com/find/javascripts.jsp?currPage=laptopPage&amp;loadon=lazy&amp;lang=en&amp;ssc=gdt-Top&amp;min=Y&amp;vr=1752224409"></script>
    <script src="//tags.crwdcntrl.net/c/9048/cc.js?ns=_cc9048" id="LOTCC_9048"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://js.appboycdn.com/web-sdk/latest/appboy.min.css">
    <style type="text/css">
#oo_company_logo img { max-height: 100%; max-width: 100%; height: auto; width: auto\9; /* ie8 */ }
#oo_feedback_fl_spacer { display: block; height: 1px; position: absolute; top: 0; width: 100px; }
.oo_feedback_float { width: 100px; height: 50px; overflow: hidden; font: 12px Tahoma, Arial, Helvetica, sans-serif; text-align: center; color: #252525; cursor: pointer; z-index: 999997; position: fixed; bottom: 5px; border: 1px solid #cccccc; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; right: 10px; -webkit-transition: -webkit-transform 0.3s ease; }
.oo_feedback_float .screen_reader { position: absolute; clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
.oo_feedback_float .olUp { width: 100%; height: 100%; background: url(/FrameWork/js/opinionLab/onlineopinionV5/oo_float_icon.gif) center 10px no-repeat; text-align: center; padding: 31px 0 5px 0; position: relative; z-index: 2; filter: alpha(opacity=100); opacity: 1; transition: opacity .5s; -moz-transition: opacity .5s; -webkit-transition: opacity .5s; -o-transition: opacity .5s; }
.oo_feedback_float .olUp img { margin-bottom: 5px; }
.oo_feedback_float .oo_transparent { display: block; background: white; position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1; opacity: 0.8; filter: alpha(opacity=80); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.oo_feedback_float:hover .oo_transparent { opacity: 1.0; filter: alpha(opacity=100); }
.oo_feedback_float:hover .olUp { display: block; opacity: 0; filter: alpha(opacity=0); }
.oo_feedback_float .fbText { display: block; }
.oo_feedback_float .olOver { display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; min-height: 50px; z-index: 2; opacity: 0; filter: alpha(opacity=0); transition: opacity .5s; -moz-transition: opacity .5s; -webkit-transition: opacity .5s; -o-transition: opacity .5s; }
.oo_feedback_float .olOver span { display: block; padding: 10px 5px; }
.oo_feedback_float:hover .olOver { opacity: 1.0; filter: alpha(opacity=100); top: 0; }
.oo_cc_wrapper { left: 0; padding: 0; position: fixed; text-align: center; top: 50%; left:50%;transform:translate(-49%,-50%); z-index: 999999; }
.oo_cc_wrapper .screen_reader { position: absolute; clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
.oo_cc_wrapper span { width: 100%; height: 100%; position: absolute; left: -14px; top: 7px; z-index: 1;color:white;font-size:19px; z-index:1; }
.oo_cc_wrapper .iwrapper { background-color: white; margin: 0 auto; position: relative; width: 535px; z-index: 2; box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); -moz-box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); -webkit-box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); }
.oo_cc_wrapper iframe { position: relative; border: none; width: 100%; z-index: 4; }
.oo_cc_wrapper .oo_cc_close { position: absolute; display: block; right: 20px; top: 5px; font: 1em/1.5em 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif; text-align: center; z-index: 5; color: black; text-decoration: none; cursor: pointer; }
#oo_bar { padding: 10px 35px; cursor: pointer; color: white; border-top: 1px solid white; background-color: black; bottom: 0; display: block; font: 16px 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif; left: 0; text-decoration: none; line-height: 16px; position: fixed; text-align: left; width: 100%; z-index: 999997; box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 2px; }
#oo_bar span.icon { background-image: url(/FrameWork/js/opinionLab/onlineopinionV5/oo_bar_icon.gif); background-repeat: no-repeat; position: absolute; left: 8px; top: 9px; width: 19px; height: 17px; }
#oo_bar .screen_reader { position: absolute; clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
#oo_bar:focus { outline: 3px solid #51ace9; }
.oo_bar { padding-bottom: 37px; }
#oo_tab { background-color: #769e2d; border: 1px solid #cccccc; display: block; position: fixed; top: 40%; padding: 55px 0px 55px 0px; width: 35px; z-index: 999995; cursor: pointer; }
#oo_tab span { bottom: 15px; display: block; background: url(/FrameWork/js/opinionLab/onlineopinionV5/oo_tab_icon_fff.gif) no-repeat; height: 9px; position: absolute; width: 9px; }
#oo_tab div { background-image: url(/FrameWork/js/opinionLab/onlineopinionV5/oo_tab_fff.png); background-repeat: no-repeat; position: absolute; display: block; height: 100%; left: 0; top: 0; width: 100%; }
#oo_tab.wcag a { background: url(/FrameWork/js/opinionLab/onlineopinionV5/oo_tab_icon_fff.gif) no-repeat; background-repeat: no-repeat; background-position: center bottom; border: none; outline: none; position: absolute; display: block; bottom: 14px; left: -6px; top: 0; width: 100%; }
#oo_tab.wcag img { border: none; outline: none; display: block; position: absolute; left: -6px; top: -10px; }
#oo_tab .screen_reader { position: absolute; clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
.oo_tab_left { left: -13px; border-radius: 0px 9px 9px 0px; -moz-border-radius: 0px 9px 9px 0px; -webkit-border-radius: 0px 9px 9px 0px; transition: left .5s; -moz-transition: left .5s; -webkit-transition: left .5s; -o-transition: left .5s; background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#eeeeee), to(#ffffff)); background-image: -webkit-linear-gradient(left, #eeeeee, #ffffff); background-image: -moz-linear-gradient(left, #eeeeee, #ffffff); background-image: -ms-linear-gradient(left, #eeeeee, #ffffff); background-image: -o-linear-gradient(left, #eeeeee, #ffffff); background-image: linear-gradient(left, #eeeeee, #ffffff); }
.oo_tab_left span { right: 6px; }
.oo_tab_left div { background-position: 6px -10px; }
.oo_tab_left:hover { left: -5px; }
.oo_tab_right { right: -13px; border-radius: 9px 0px 0px 9px; -moz-border-radius: 9px 0px 0px 9px; -webkit-border-radius: 9px 0px 0px 9px; transition: right .5s; -moz-transition: right .5s; -webkit-transition: right .5s; -o-transition: right .5s; background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#769e2d), to(#769e2d)); background-image: -webkit-linear-gradient(left, #769e2d, #769e2d); background-image: -moz-linear-gradient(left, #769e2d, #769e2d); background-image: -ms-linear-gradient(left, #769e2d, #769e2d); background-image: -o-linear-gradient(left, #769e2d, #769e2d); background-image: linear-gradient(left, #769e2d, #769e2d); }
.oo_tab_right span { left: 7px; }
.oo_tab_right div { background-position: -6px -10px; }
.oo_tab_right:hover { right: -5px; }
#oo_tab_1 { background-color: black; border: 1px solid #ffffff; display: block; position: fixed; top: 40%; padding: 10px 0px 10px 0px; width: 124px; z-index: 999995; cursor: pointer; text-decoration: none; text-align: left; font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif; line-height: 16px; font-size: 16px; color: #fff; }
#oo_tab_1:focus { outline: 3px solid #51ace9; }
#oo_tab_1 span.screen_reader { position: absolute; clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
#oo_tab_1.oo_tab_right_1 { right: -9px; transition: right 1.5s; -moz-transition: right 1.5s; -webkit-transition: right 1.5s; padding: 10px 0px 10px 35px; box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px; width: 89px; }
#oo_tab_1.oo_tab_right_1 span.icon { background-image: url(/FrameWork/js/opinionLab/onlineopinionV5/oo_tab_icon_1.gif); background-repeat: no-repeat; position: absolute; left: 8px; top: 9px; width: 19px; height: 17px; }
#oo_tab_1.oo_tab_right_1.small { right: -90px; }
#oo_tab_1.oo_tab_right_1.small:hover { right: -9px; }
#oo_tab_1.oo_tab_left_1 { left: -9px; transition: left 1.5s; -moz-transition: left 1.5s; -webkit-transition: left 1.5s; padding: 10px 0px 10px 15px; box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 2px; width: 109px; }
#oo_tab_1.oo_tab_left_1 span.icon { background-image: url(/FrameWork/js/opinionLab/onlineopinionV5/oo_tab_icon_1.gif); background-repeat: no-repeat; position: absolute; right: 8px; top: 9px; width: 19px; height: 17px; }
#oo_tab_1.oo_tab_left_1.small { left: -90px; }
#oo_tab_1.oo_tab_left_1.small:hover { left: -9px; }
#oo_container { position: fixed; height: 100%; width: 100%; top: 0; left: 0; z-index: 999999; }
#oo_invitation_prompt { background: #fff; box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); -moz-box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); -webkit-box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); margin: 5% auto; text-align: left; position: relative; width: 500px; z-index: 999999; }
#oo_invitation_prompt #oo_company_logo { width: 100%; height: 120px; background: black; }
#oo_invitation_prompt #oo_company_logo img { height: 100%; }
#oo_invitation_prompt #oo_invite_content { width: 80%; padding: 40px 10% 20px 10%; box-shadow: inset 0px 0px 0px 1px #ccc; -webkit-box-shadow: inset 0px 0px 0px 1px #ccc; -moz-box-shadow: inset 0px 0px 0px 1px #ccc; }
#oo_invitation_prompt #oo_invite_content p { color: black; font: 1em/1.5em 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 20px 0; }
#oo_invitation_prompt #oo_invite_content p.prompt_button a { text-align: center; color: white; text-decoration: none; font-size: 1.5em; line-height: 1.2em; padding: 12px 0 13px 0; display: block; height: 25px; }
#oo_invitation_prompt #oo_invite_content a { cursor: pointer; }
#oo_invitation_prompt #oo_invite_content a:focus { outline: 3px solid #51ace9; }
#oo_invitation_prompt #oo_invite_content a#oo_launch_prompt { background: #cb352d; }
#oo_invitation_prompt #oo_invite_content a#oo_no_thanks { background: #707070; }
#oo_invitation_prompt #oo_invite_content #ol_brand_logo { text-align: center; border-top: 1px solid #ccc; line-height: 1.5em; margin: 20px 0 0 0; padding: 20px 0 0 0; }
#oo_invitation_prompt #oo_invite_content #ol_brand_logo img { height: 25px; width: 146px; border: 0px; }
#oo_invitation_prompt #oo_invite_content #ol_brand_logo a { display: block; height: 25px; }
#oo_invitation_prompt #oo_close_prompt { position: absolute; display: block; right: 13px; top: 13px; line-height: 1em; font-size: 1em; color: white; text-decoration: none; }
#oo_invitation_prompt #oo_close_prompt:focus { outline: none; }
#oo_invitation_prompt #oo_close_prompt:focus span { outline: 3px solid #51ace9; }
#oo_invitation_prompt .screen_reader { position: absolute; clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
media only screen and (max-device-width: 480px), screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) { #oo_invitation_prompt { width: 90%; } #oo_invitation_prompt #oo_company_logo { height: 80px; } }
media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2), screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) { #oo_invitation_prompt { width: 90%; height: 90%; overflow-y: scroll; overflow-x: hidden; } #oo_invitation_prompt #oo_company_logo { height: 80px; } #oo_invitation_prompt #oo_invite_content { padding: 20px 10% 20px 10%; } #oo_invitation_prompt #oo_invite_content #ol_brand_logo { margin: 0 0 0 0; } }
media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) { #oo_invitation_prompt #oo_close_prompt { right: -70px; } }
#oo_waypoint_container { position: fixed; height: 100%; width: 100%; top: 0; left: 0; z-index: 999999; }
#oo_waypoint_prompt { background: #fff; box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); -moz-box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); -webkit-box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.3); margin: 5% auto; text-align: left; position: relative; width: 500px; z-index: 999999; }
#oo_waypoint_prompt #oo_company_logo { width: 100%; height: 120px; background: black; }
#oo_waypoint_prompt #oo_company_logo img { height: 100%; }
#oo_waypoint_prompt #oo_waypoint_content { width: 80%; padding: 30px 10% 20px 10%; box-shadow: inset 0px 0px 0px 1px #ccc; -webkit-box-shadow: inset 0px 0px 0px 1px #ccc; -moz-box-shadow: inset 0px 0px 0px 1px #ccc; }
#oo_waypoint_prompt #oo_waypoint_content a { cursor: pointer; }
#oo_waypoint_prompt #oo_waypoint_content a:focus { outline: 3px solid #51ace9; }
#oo_waypoint_prompt #oo_waypoint_content p { color: black; font: 1em/1.5em 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 20px 0; text-align: center; }
#oo_waypoint_prompt #oo_waypoint_content p#oo_waypoint_message { font-size: 1.2em; }
#oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon { cursor: pointer; text-decoration: none; font-size: 1.5em; line-height: 1.2em; padding: 12px 0 13px 0; display: block; height: 25px; color: white; margin-bottom: 20px; background-color: #cb352d; text-align: center; }
#oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon.last { margin-bottom: 0; }
#oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo { border-top: 1px solid #ccc; line-height: 1.5em; margin: 10px 0 0 0; padding: 20px 0 0 0; }
#oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo img { height: 25px; width: 146px; border: 0px; }
#oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo a { display: block; height: 25px; }
#oo_waypoint_prompt #oo_close_prompt { position: absolute; display: block; right: 13px; top: 13px; line-height: 1em; font-size: 1em; color: white; text-decoration: none; }
#oo_waypoint_prompt #oo_close_prompt:focus { outline: none; }
#oo_waypoint_prompt #oo_close_prompt:focus span { outline: 3px solid #51ace9; }
#oo_waypoint_prompt .screen_reader { position: absolute; clip: rect(1px 1px 1px 1px); /* for Internet Explorer */ clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
#oo_tab div.screen_reader { display:none; }
media only screen and (max-device-width: 480px), screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) { #oo_waypoint_prompt { width: 90%; } #oo_waypoint_prompt #oo_company_logo { height: 80px; } }
media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2), screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) { #oo_waypoint_prompt { width: 90%; height: 90%; overflow-y: scroll; overflow-x: hidden; } #oo_waypoint_prompt #oo_company_logo { height: 80px; } #oo_waypoint_prompt #oo_waypoint_content { padding: 20px 10% 20px 10%; } #oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo { margin: 0 0 0 0; } }
media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) { #oo_waypoint_prompt #oo_close_prompt { right: -70px; } }
#oo_overlay, #oo_invitation_overlay, #oo_waypoint_overlay { background: black url(/FrameWork/js/opinionLab/onlineopinionV5/oo_loading.gif) 50% 275px no-repeat; display: block; height: 1000%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999998; opacity: 0.5; filter: alpha(opacity=50); }
#oo_overlay.no_loading, #oo_invitation_overlay.no_loading, #oo_waypoint_overlay.no_loading { background: black; opacity: 0.65; filter: alpha(opacity=50); }
media print { #oo_bar, .oo_feedback_float, #oo_tab { display: none; } }</style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="t-main full-width clearfix">





    <div class="lp-pageBanner">
        <div class="lp-pageImage" style="background-image: url( https://static.bhphoto.com/images/laptopPage/laptop_s.jpg );"></div>
    </div>


    <div class="new-page-width">

        <ul id="breadcrumbs" class="page-width">
            <li><a href="/">Home</a></li>
            <li><a href="/Home/Laptop">Laptops</a></li>
        </ul>

        <h1 class="lp-pageTitle">Laptops</h1>
    </div>
    <div class="js-lp-navbarFixedArea" style="padding-top: 0px;">

        <div class="js-lp-navbarWrapper lp-navbarWrapper">
            <div class="new-page-width">
                <div class="lp-pageSectionContainer lp-navbar clearfix js-lp-navbar">
                    <ul class="lp-navbarLinkList">

                        <li class="left" style="width: 20%;">
                            <span data-target-id="expert-picks" class="lp-navbarItem lp-navbarLink lp-light active">B&amp;H Expert Picks</span>
                        </li>

                        <li class="left" style="width: 20%;">
                            <span data-target-id="shop-by-type" class="lp-navbarItem lp-navbarLink lp-light">Shop By Type</span>
                        </li>

                        <li class="left" style="width: 20%;">
                            <span data-target-id="shop-by-price" class="lp-navbarItem lp-navbarLink lp-light">Shop By Price</span>
                        </li>

                        <li class="left" style="width: 20%;">
                            <span data-target-id="shop-by-screen-size" class="lp-navbarItem lp-navbarLink lp-light">Shop By Screen Size</span>
                        </li>

                        <li class="left" style="width: 20%;">
                            <span data-target-id="featured-brands" class="lp-navbarItem lp-navbarLink lp-light">Featured Brands</span>
                        </li>

                    </ul>
                    <a href="#" title="View All Laptops" 
                       class="lp-navbar-shopAll lp-navbarItem right lp-standOut underline-on-hover">
                        Browse All Laptops<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="lp-pageSection lp-pageSection-withContainer">
            <div class="new-page-width">
                <div data-id="expert-picks" class="lp-pageSectionContainer clearfix">
                    <div class="lp-topSectionTile lp-lightBackground">
                        <div class="lp-topSectionTileInner">
                            <h2 class="lp-suggestionsTitle lp-sectionTitle">
                                B&amp;H
                                <div>Expert Picks</div>
                            </h2>

                            <div class="lp-suggestionsSubtitle">Laptop Roundup</div>
                            <p class="lp-suggestionsDescription lp-light lp-regLinkContainer">Wondering which laptop is right for you? No need to guess: our resident expert,
                             <a href="#">Sol Junik</a>, has gathered the best laptop deals going, period.</p>
                            <div class="lp-expert">
                                <a class="lp-expertLink overlay-on-hover" href="#">
                                    <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertImg" data-img-src="https://static.bhphoto.com/images/laptopPage/sol-junik.png" data-alt="laptop expert">
                                        <span class="lp-imgSizer" style="width: 64px;padding-bottom: 100%">
                                        <img imgsrc="https://static.bhphoto.com/images/laptopPage/sol-junik.png" alt="laptop expert" 
                                             src="https://static.bhphoto.com/images/laptopPage/sol-junik.png"></span>
                                    </span>
                                    <div class="lp-expertName">Sol Junik</div>
                                    <div class="lp-expertSpecialty">Laptop Expert</div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <ul>
                        <li class="lp-topSectionTile lp-expertItem js-lp-expertItem">
                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/lenovo-80sm0059us-core-i3-6100u-6gb-1tb-windows-10-15-6.jpg" data-alt="lenovo 80sm0059us core i3 6100u 6gb 1tb windows 10 15 6">
                                <span class="lp-imgSizer" style="width: 450px;padding-bottom: 55.5555%">
                                    <img imgsrc="https://static.bhphoto.com/images/laptopPage/lenovo-80sm0059us-core-i3-6100u-6gb-1tb-windows-10-15-6.jpg" alt="lenovo 80sm0059us core i3 6100u 6gb 1tb windows 10 15 6" 
                                                                                                             src="https://static.bhphoto.com/images/laptopPage/lenovo-80sm0059us-core-i3-6100u-6gb-1tb-windows-10-15-6.jpg">
                                </span>
                            </span>

                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemProc" data-img-src="https://static.bhphoto.com/images/laptopPage/intel/i3.jpg" data-alt="Intel Core i3 Inside">
                                <span class="lp-imgSizer" style="width: 59px;padding-bottom: 100%">
                                <img imgsrc="https://static.bhphoto.com/images/laptopPage/intel/i3.jpg" alt="Intel Core i3 Inside" 
                                     src="#"></span>
                            </span>

                            <a href="#" class="lp-topSectionTileInner overlay-on-hover">
                                <h3 class="lp-expertItemCategory lp-color-1">Personal</h3>
                                <p class="lp-expertItemDescription">This fast, fun streamer lets you email, surf &amp; binge with ease thanks to an <strong>Intel Core i3</strong> and <strong>6GB RAM</strong> for seamless power; <strong>1TB Storage</strong> to house all your media and an ample, see-it-all <strong>15.6" Display</strong>!</p>
                                <div class="lp-expertItemPrice lp-color-1">$329<span class="lp-smallCents">00</span></div>
                                <span class="lp-expertItemBtn">Buy Now</span>
                            </a>
                        </li>
                        <li class="lp-topSectionTile lp-expertItem js-lp-expertItem">
                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/acer-nx-gg5aa-004-15-6-aspire-e5-575-521w-notebook.jpg" data-alt="acer nx gg5aa 004 15 6 aspire e5 575 521w notebook">
                                <span class="lp-imgSizer" style="width: 450px;padding-bottom: 55.5555%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/acer-nx-gg5aa-004-15-6-aspire-e5-575-521w-notebook.jpg" alt="acer nx gg5aa 004 15 6 aspire e5 575 521w notebook" src="https://static.bhphoto.com/images/laptopPage/acer-nx-gg5aa-004-15-6-aspire-e5-575-521w-notebook.jpg"></span>
                            </span>

                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemProc" data-img-src="https://static.bhphoto.com/images/laptopPage/intel/i5.jpg" data-alt="Intel Core i5 Inside">
                                <span class="lp-imgSizer" style="width: 59px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/intel/i5.jpg" alt="Intel Core i5 Inside" src="https://static.bhphoto.com/images/laptopPage/intel/i5.jpg"></span>
                            </span>

                            <a href="https://www.bhphotovideo.com/c/product/1263206-REG/acer_nx_gg5aa_004_15_6_aspire_e5_575_521w_notebook.html" class="lp-topSectionTileInner overlay-on-hover">
                                <h3 class="lp-expertItemCategory lp-color-1">Business</h3>
                                <p class="lp-expertItemDescription">This multitasker juggles many jobs at once with an <strong>Intel Core i5</strong> to handle even the biggest data; <strong>8GB RAM/256GB SSD</strong> for lightning-quick speed; a razor-sharp <strong>15.6" FHD Display</strong> and a business-class <strong>Backlit Keyboard</strong>.</p>
                                <div class="lp-expertItemPrice lp-color-1">$529<span class="lp-smallCents">00</span></div>
                                <span class="lp-expertItemBtn">Buy Now</span>
                            </a>
                        </li>







                        <li class="lp-topSectionTile lp-expertItem js-lp-expertItem">
                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemImg" 
                                  data-img-src="https://static.bhphoto.com/images/laptopPage/dell-i7559-3763blk-i7-6700hq-16gb-1tb-gtx960m-windows-10-15-6.jpg" data-alt="dell i7559 3763blk i7 6700hq 16gb 1tb gtx960m windows 10 15 6">
                                <span class="lp-imgSizer" style="width: 450px;padding-bottom: 55.5555%">
                                <img imgsrc="https://static.bhphoto.com/images/laptopPage/dell-i7559-3763blk-i7-6700hq-16gb-1tb-gtx960m-windows-10-15-6.jpg" alt="dell i7559 3763blk i7 6700hq 16gb 1tb gtx960m windows 10 15 6" src="https://static.bhphoto.com/images/laptopPage/dell-i7559-3763blk-i7-6700hq-16gb-1tb-gtx960m-windows-10-15-6.jpg"></span>
                            </span>

                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemProc" data-img-src="https://static.bhphoto.com/images/laptopPage/intel/i7.jpg" data-alt="Intel Core i7 Inside">
                                <span class="lp-imgSizer" style="width: 59px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/intel/i7.jpg" alt="Intel Core i7 Inside" src="https://static.bhphoto.com/images/laptopPage/intel/i7.jpg"></span>
                            </span>

                            <div  class="lp-topSectionTileInner overlay-on-hover">
                                <h3 class="lp-expertItemCategory lp-color-1">Gaming/Editing</h3>
                                <p class="lp-expertItemDescription">This powerhouse can help you level up with an <strong>Intel Quad Core i7 Processor</strong>; <strong>16GB RAM/1TB SSHD</strong> for blazing-fast response time; immersive <strong>15.6" FHD Display</strong> and a <strong>GTX 960 4GB Graphics Card</strong> to rack up multiple achievements.</p>
                                <div class="lp-expertItemPrice lp-color-1" style="margin-bottom:5px">$799<span class="lp-smallCents">00</span></div>
                               @{  float asLow = 799 / 12;}
                                    <div onclick="ChargeAfter()" id="chargeAfter" class="" style="padding:10px; margin-left:0px;padding-left:0px; font-weight:bold; margin-bottom:20px">
                                        <h6 style="font-family:Calibri">
                                            Or as low as <b style="color:#769e2d"> $67/month</b><br /> with
                                            <strong style="font-family:arial; color:cornflowerblue; font-size:larger">ChargeAfter</strong>
                                        </h6>
                                    </div>
                                <a href="/Home/GamingEditing">
                                    <span class="lp-expertItemBtn">Buy Now</span>
                                </a>
                                </div>
                        </li>
                        <li class="lp-topSectionTile lp-expertItem js-lp-expertItem">
                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/asus-ux301la-ws71t-13-3-zenbook-ux301la-multi-touch.jpg" data-alt="asus ux301la ws71t 13 3 zenbook ux301la multi touch">
                                <span class="lp-imgSizer" style="width: 450px;padding-bottom: 55.5555%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/asus-ux301la-ws71t-13-3-zenbook-ux301la-multi-touch.jpg" alt="asus ux301la ws71t 13 3 zenbook ux301la multi touch" src="https://static.bhphoto.com/images/laptopPage/asus-ux301la-ws71t-13-3-zenbook-ux301la-multi-touch.jpg"></span>
                            </span>
                            <span class="js-lp-lazyImg lp-imgSizerContainer lp-expertItemProc" data-img-src="https://static.bhphoto.com/images/laptopPage/intel/i7-5.png" data-alt="Intel Core i7 Inside">
                                <span class="lp-imgSizer" style="width: 59px;padding-bottom: 100%">
                                <img imgsrc="https://static.bhphoto.com/images/laptopPage/intel/i7-5.png" alt="Intel Core i7 Inside" src="https://static.bhphoto.com/images/laptopPage/intel/i7-5.png"></span>
                            </span>

                            <div  class="lp-topSectionTileInner overlay-on-hover">
                                <h3 class="lp-expertItemCategory lp-color-1">On-The-Go</h3>
                                <p class="lp-expertItemDescription">This mobile command center keeps you moving with a powerful <strong>Intel Core i7</strong>; <strong>8GB RAM/256GB SSD</strong> to work on the fly; <strong>Wi-Fi &amp; Bluetooth</strong> for max connectivity and a <strong>13" WQHD Touchscreen Display</strong> in a <strong>lightweight</strong>, elegant profile.</p>
                                <div class="lp-expertItemPrice lp-color-1" style="margin-bottom:5px">$699<span class="lp-smallCents">00</span></div>
                                @{  float asLow2 = 699 / 12;}
                                    <div class="" id="chargeAfter2" style="padding:10px; margin-left:0px;padding-left:0px; font-weight:bold; margin-bottom:20px">
                                        
                                            <h6 style="font-family:Calibri">
                                                    Or as low as <b style="color:#769e2d"> @asLow2$/month</b><br /> with
                                                    <strong style="font-family:arial; color:cornflowerblue; font-size:larger">ChargeAfter</strong>
</h6>
                                            
</div>
                                    <span class="lp-expertItemBtn">Buy Now</span>
                                
                            </div>
                        </li>

                    </ul>
                    <div class="lp-topSectionTile lp-lightBackground">
                        <div class="lp-topSectionTileInner">
                            <div class="lp-helpTileContainer">
                                <h3 class="lp-helpTitle">Need Help?</h3>
                                <div class="lp-light lp-helpText">
                                    <p>Ask an expert. Many of our trained sales associates are equipped with multiple certifications in cutting-edge software, platforms and more.</p>

                                    <p>So whether you need a terrific touch screen that will nurture your creativity or a next-level notebook to power up your gaming profile, you've come to the right place!</p>

                                    <p>We can guide you to the perfect portable solution, fast!</p>
                                </div>
                                <div class="lp-standOut lp-contactInfo">

                                    <a href="#" class="lp-liveChat overlay-on-hover js-liveChatLink">
                                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chat-square"></use></svg>Live Chat
                                    </a>

                                    <div class="lp-phoneArea">
                                        <div class="lp-light lp-orCall">Or Call</div>
                                        <a class="lp-noStyle" href="tel:8006066969">800.606.6969</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-id="shop-by-type" class="lp-pageSection lp-typeSection new-page-width clearfix">

            <div class="lp-light lp-stillUndecided">Still Undecided?</div>

            <h2 class="lp-sectionTitle lp-sectionTitle-1">Shop by Type</h2>
            <ul>

                <li class="lp-typeItem">
                    <a href="#" title="Macbooks" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-typeItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/types/macbook.jpg" data-alt="macbook">
                            <span class="lp-imgSizer" style="width: 150px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/types/macbook.jpg" alt="macbook" src="https://static.bhphoto.com/images/laptopPage/types/macbook.jpg"></span>
                        </span>
                        <h3 class="lp-standOut lp-typeItemName">Macbooks</h3>
                        <p class="lp-light lp-typeItemDetails">Minimalistic, intuitive, effortless... Apple. Nuff said.</p>
                    </a>
                </li>

                <li class="lp-typeItem">
                    <a href="#" title="Notebooks" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-typeItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/types/notebook.jpg" data-alt="notebook">
                            <span class="lp-imgSizer" style="width: 150px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/types/notebook.jpg" alt="notebook" src="https://static.bhphoto.com/images/laptopPage/types/notebook.jpg"></span>
                        </span>
                        <h3 class="lp-standOut lp-typeItemName">Notebooks</h3>
                        <p class="lp-light lp-typeItemDetails">Keep entry-level Windows computing at your fingertips.</p>
                    </a>
                </li>

                <li class="lp-typeItem">
                    <a href="#" title="2 in 1 Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-typeItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/types/2-in-1-laptop.jpg" data-alt="2 in 1 laptop">
                            <span class="lp-imgSizer" style="width: 150px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/types/2-in-1-laptop.jpg" alt="2 in 1 laptop" src="https://static.bhphoto.com/images/laptopPage/types/2-in-1-laptop.jpg"></span>
                        </span>
                        <h3 class="lp-standOut lp-typeItemName">2 in 1 Laptops</h3>
                        <p class="lp-light lp-typeItemDetails">Combines the ease of a touch screen tablet with the practicality of a keyboard.</p>
                    </a>
                </li>

                <li class="lp-typeItem">
                    <a href="#" title="Ultrabooks" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-typeItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/types/ultrabook.jpg" data-alt="ultrabook">
                            <span class="lp-imgSizer" style="width: 150px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/types/ultrabook.jpg" alt="ultrabook" src="https://static.bhphoto.com/images/laptopPage/types/ultrabook.jpg"></span>
                        </span>
                        <h3 class="lp-standOut lp-typeItemName">Ultrabooks</h3>
                        <p class="lp-light lp-typeItemDetails">Sleek, powerful &amp; streamlined with an Intel Core.</p>
                    </a>
                </li>

                <li class="lp-typeItem">
                    <a href="#" title="Chromebooks" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-typeItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/types/chromebook.jpg" data-alt="chromebook">
                            <span class="lp-imgSizer" style="width: 150px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/types/chromebook.jpg" alt="chromebook" src="https://static.bhphoto.com/images/laptopPage/types/chromebook.jpg"></span>
                        </span>
                        <h3 class="lp-standOut lp-typeItemName">Chromebooks</h3>
                        <p class="lp-light lp-typeItemDetails">A budget-friendly option for quick web searches to cramming for exams.</p>
                    </a>
                </li>

                <li class="lp-typeItem">
                    <a href="#" title="Mobile Workstations" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-typeItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/types/mobile-workstation.jpg" data-alt="mobile workstation">
                            <span class="lp-imgSizer" style="width: 150px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/types/mobile-workstation.jpg" alt="mobile workstation" src="https://static.bhphoto.com/images/laptopPage/types/mobile-workstation.jpg"></span>
                        </span>
                        <h3 class="lp-standOut lp-typeItemName">Mobile Workstations</h3>
                        <p class="lp-light lp-typeItemDetails">Designed for the creative professional.</p>
                    </a>
                </li>

                <li class="lp-typeItem">
                    <a href="#" title="Gaming Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-typeItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/types/gaming-laptop.jpg" data-alt="gaming laptop">
                            <span class="lp-imgSizer" style="width: 150px;padding-bottom: 100%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/types/gaming-laptop.jpg" alt="gaming laptop" src="https://static.bhphoto.com/images/laptopPage/types/gaming-laptop.jpg"></span>
                        </span>
                        <h3 class="lp-standOut lp-typeItemName">Gaming Laptops</h3>
                        <p class="lp-light lp-typeItemDetails">Equipped with more powerful processors and intense graphic capabilities.</p>
                    </a>
                </li>

            </ul>
            <div class="lp-shopAllContainer-2">
                <a class="lp-standOut overlay-on-hover lp-shopAll-2 lp-lightBackground " 
                   href="#" title="View All Laptops">
                    Shop All Laptops <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
                </a>
            </div>

            <div class="js-externalImageAdContainer lp-promo-banner" data-targets="{&quot;category&quot;:&quot;18818&quot;}" data-count="1" data-slot="1130" data-width="1350"><div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=5942cfe1-e53a-4abb-9d65-ef19b1258c8c&amp;redirect=https://www.bhphotovideo.com/c/buy/items/ci/33853/N/3588816499" class="overlay-on-hover" style="text-align: center"> <img src="https://pubads.global.ssl.fastly.net/prmt/fcc5d8e306c5dc07aceb698d4fd1d123" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div> <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=5942cfe1-e53a-4abb-9d65-ef19b1258c8c"></div></div>

        </div>
        <div class="lp-pageSection lp-pageSection-withContainer">
            <div class="new-page-width">
                <div class="lp-pageSectionContainer">
                    <div data-id="shop-by-price" class="lp-lightBackground lp-shopByPriceSection">
                        <h2 class="lp-sectionTitle lp-sectionTitle-1">Shop by Price</h2>
                        <ul class="lp-shopByPriceList clearfix">

                            <li class="lp-shopByPriceItem">
                                <a href="#" title="Laptops Under $250" class="lp-shopByPriceItemLink overlay-on-hover">
                                    <div class="lp-standOut lp-shopByPriceItemText">
                                        <div class="lp-shopByPriceItemSmallText">Under</div>
                                        <div class="lp-shopByPriceItemLargeText">$250</div>
                                        <div class="lp-shopByPriceItemSmallText"></div>
                                    </div>
                                </a>
                            </li>

                            <li class="lp-shopByPriceItem">
                                <a href="#" title="Laptops Under $500" class="lp-shopByPriceItemLink overlay-on-hover">
                                    <div class="lp-standOut lp-shopByPriceItemText">
                                        <div class="lp-shopByPriceItemSmallText">Under</div>
                                        <div class="lp-shopByPriceItemLargeText">$500</div>
                                        <div class="lp-shopByPriceItemSmallText"></div>
                                    </div>
                                </a>
                            </li>

                            <li class="lp-shopByPriceItem">
                                <a href="#" title="Laptops Under $1,000" class="lp-shopByPriceItemLink overlay-on-hover">
                                    <div class="lp-standOut lp-shopByPriceItemText">
                                        <div class="lp-shopByPriceItemSmallText">Under</div>
                                        <div class="lp-shopByPriceItemLargeText">$1,000</div>
                                        <div class="lp-shopByPriceItemSmallText"></div>
                                    </div>
                                </a>
                            </li>

                            <li class="lp-shopByPriceItem">
                                <a href="#" title="Laptops Over $1,000" class="lp-shopByPriceItemLink overlay-on-hover">
                                    <div class="lp-standOut lp-shopByPriceItemText">
                                        <div class="lp-shopByPriceItemSmallText"></div>
                                        <div class="lp-shopByPriceItemLargeText">$1,000</div>
                                        <div class="lp-shopByPriceItemSmallText">and up</div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div data-id="shop-by-screen-size" class="lp-lightBackground-1 lp-screenSizeSection">
                        <h2 class="lp-sectionTitle lp-sectionTitle-1">Shop by Screen Size</h2>
                        <ul class="lp-screenSizeList clearfix">

                            <li class="lp-screenSizeListItem">
                                <a href="#" title="Laptops Under 13 Inches" class="lp-screenSizeLink overlay-on-hover">
                                    <span class="js-lp-lazyImg lp-imgSizerContainer lp-screenSizeImg" data-img-src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_1.png" data-alt="11 inch laptop">
                                        <span class="lp-imgSizer" style="width: 145px;padding-bottom: 71.7241379%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_1.png" alt="11 inch laptop" src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_1.png"></span>
                                    </span>
                                    <div class="lp-screenSizeItemText lp-standOut">
                                        <span class="lp-screenSizeItemSmallText">Up to</span>
                                        12"
                                        <span class="lp-screenSizeItemSmallText"></span>
                                    </div>
                                </a>
                            </li>

                            <li class="lp-screenSizeListItem">
                                <a href="#" title="13 Inch Laptops" class="lp-screenSizeLink overlay-on-hover">
                                    <span class="js-lp-lazyImg lp-imgSizerContainer lp-screenSizeImg" data-img-src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_2.png" data-alt="13 inch laptop">
                                        <span class="lp-imgSizer" style="width: 145px;padding-bottom: 71.7241379%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_2.png" alt="13 inch laptop" src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_2.png"></span>
                                    </span>
                                    <div class="lp-screenSizeItemText lp-standOut">
                                        <span class="lp-screenSizeItemSmallText"></span>
                                        13"
                                        <span class="lp-screenSizeItemSmallText"></span>
                                    </div>
                                </a>
                            </li>

                            <li class="lp-screenSizeListItem">
                                <a href="#" title="14 Inch Laptops" class="lp-screenSizeLink overlay-on-hover">
                                    <span class="js-lp-lazyImg lp-imgSizerContainer lp-screenSizeImg" data-img-src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_3.png" data-alt="14 inch laptop">
                                        <span class="lp-imgSizer" style="width: 145px;padding-bottom: 71.7241379%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_3.png" alt="14 inch laptop" src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_3.png"></span>
                                    </span>
                                    <div class="lp-screenSizeItemText lp-standOut">
                                        <span class="lp-screenSizeItemSmallText"></span>
                                        14"
                                        <span class="lp-screenSizeItemSmallText"></span>
                                    </div>
                                </a>
                            </li>

                            <li class="lp-screenSizeListItem">
                                <a href="#" title="15 Inch laptops" class="lp-screenSizeLink overlay-on-hover">
                                    <span class="js-lp-lazyImg lp-imgSizerContainer lp-screenSizeImg" data-img-src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_4.png" data-alt="15 inch laptop">
                                        <span class="lp-imgSizer" style="width: 145px;padding-bottom: 71.7241379%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_4.png" alt="15 inch laptop" src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_4.png"></span>
                                    </span>
                                    <div class="lp-screenSizeItemText lp-standOut">
                                        <span class="lp-screenSizeItemSmallText"></span>
                                        15"
                                        <span class="lp-screenSizeItemSmallText"></span>
                                    </div>
                                </a>
                            </li>

                            <li class="lp-screenSizeListItem">
                                <a href="#" title="Laptops 17 Inches and Above" class="lp-screenSizeLink overlay-on-hover">
                                    <span class="js-lp-lazyImg lp-imgSizerContainer lp-screenSizeImg" data-img-src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_5.png" data-alt="17 inch laptop">
                                        <span class="lp-imgSizer" style="width: 145px;padding-bottom: 71.7241379%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_5.png" alt="17 inch laptop" src="https://static.bhphoto.com/images/laptopPage/Laptop_BySize_5.png"></span>
                                    </span>
                                    <div class="lp-screenSizeItemText lp-standOut">
                                        <span class="lp-screenSizeItemSmallText"></span>
                                        17"
                                        <span class="lp-screenSizeItemSmallText">and up</span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div data-id="featured-brands" class="lp-pageSection lp-brandsSection new-page-width">
            <h2 class="lp-sectionTitle lp-sectionTitle-1">Shop Featured Brands</h2>
            <ul class="clearfix lp-brandsList">

                <li class="left">
                    <a href="#" title="Apple Macbooks" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/apple-logo.jpg" data-alt="apple logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/apple-logo.jpg" alt="apple logo" src="https://static.bhphoto.com/images/laptopPage/apple-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="Acer Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/acer-logo.jpg" data-alt="acer logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/acer-logo.jpg" alt="acer logo" src="https://static.bhphoto.com/images/laptopPage/acer-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="Asus Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/asus-logo.jpg" data-alt="asus logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/asus-logo.jpg" alt="asus logo" src="https://static.bhphoto.com/images/laptopPage/asus-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="Dell Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/dell-logo.jpg" data-alt="dell logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/dell-logo.jpg" alt="dell logo" src="https://static.bhphoto.com/images/laptopPage/dell-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="HP Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/hp-logo.jpg" data-alt="hp logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/hp-logo.jpg" alt="hp logo" src="https://static.bhphoto.com/images/laptopPage/hp-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="Lenovo Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/lenovo-logo.jpg" data-alt="lenovo logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/lenovo-logo.jpg" alt="lenovo logo" src="https://static.bhphoto.com/images/laptopPage/lenovo-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="Microsoft Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/microsoft-logo.jpg" data-alt="microsoft logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/microsoft-logo.jpg" alt="microsoft logo" src="https://static.bhphoto.com/images/laptopPage/microsoft-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="MSI Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/msi-logo.jpg" data-alt="msi logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/msi-logo.jpg" alt="msi logo" src="https://static.bhphoto.com/images/laptopPage/msi-logo.jpg"></span>
                        </span>
                    </a>
                </li>

                <li class="left">
                    <a href="#" title="Samsung Laptops" class="overlay-on-hover">
                        <span class="js-lp-lazyImg lp-imgSizerContainer lp-brandItemImg" data-img-src="https://static.bhphoto.com/images/laptopPage/samsung-logo.jpg" data-alt="samsung logo">
                            <span class="lp-imgSizer" style="width: 100px;padding-bottom: 40%"><img imgsrc="https://static.bhphoto.com/images/laptopPage/samsung-logo.jpg" alt="samsung logo" src="https://static.bhphoto.com/images/laptopPage/samsung-logo.jpg"></span>
                        </span>
                    </a>
                </li>

            </ul>
            <div class="lp-moreChoicesContainer">
                <div class="lp-moreChoicesWrapper">
                    <span class="lp-moreChoicesText lp-light">Want more choices?</span>
                    <a href="#" title="View All Laptops" class="lp-moreChoicesLink lp-standOut underline-on-hover">
                        Browse All Laptops<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-arrow"></use></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="lp-pageSection">
            <div class="new-page-width lp-categoryDescription lp-regLinkContainer">
                <h2 class="lp-sectionTitle lp-textSectionTitle">Laptops</h2>
                <p>Laptops are a great way to get things done, even when you're on the go (or just away from your desktop). And B&amp;H stocks a comprehensive array of portable computing solutions, from Apple to VAIO laptops, <a href="https://www.bhphotovideo.com/c/buy/2-in-1-laptops/ci/27916/N/3790873879">touch-screen 2 in 1</a> models to top-rated laptops for students.</p>

                <p>But choosing the right laptop for you can feel like a daunting task. Whether you're just starting out on your notebook search or you've already done some homework, our trained sales experts can help you find the perfect tool to suit your personal, professional or <a href="https://www.bhphotovideo.com/c/buy/gaming-notebooks/ci/24610/N/3670569600">gaming laptop</a> needs.</p>

                <h3>How to Choose the Best Laptop For You</h3>
                <p>Before you begin, think about what you'll be using your laptop for. For instance, if you expect to use your laptop for simple web surfing, music streaming and word processing, you needn't invest in a costly high-powered model. Torn between a <a href="https://www.bhphotovideo.com/c/buy/MacBook-MacBook-Pro/ci/13223/N/4110474291">MacBook</a>, <a href="https://www.bhphotovideo.com/c/buy/Notebooks/ci/6782/N/4110474287">notebook</a>, <a href="https://www.bhphotovideo.com/c/buy/Ultrabooks/ci/18649/N/4110474289">Ultrabook</a> or <a href="https://www.bhphotovideo.com/c/buy/Chromebooks/ci/18945/N/4110474288">Chromebook</a>? You can find an answer here... or check out our Explora blog for hands-on laptop reviews and buying guides.</p>

                <p>However, if you're a creative professional who'll be relying on your portable computer to edit video, create special effects or animation, render CAD, architecture schematics or mix audio, a mobile turnkey workstation could be the right choice for you. <a href="https://www.bhphotovideo.com/c/buy/mobile-workstations/ci/24895/N/3929443900">Mobile workstations</a> feature more powerful CPUs, faster hard drives and larger memory capacity than general-use computers. In addition to a dizzying array of out-of-the-box options, B&amp;H can also build a custom workstation to suit your exact specifications.</p>
            </div>

        </div>
    </div>



</div>

