
@{
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
</head>
<body>
    <div> 
        <h1 style="margin:35%; margin-top:50px; font-size:xx-large; margin-bottom:0px">ThankYou for your order</h1>
    </div>
</body>
</html>
